/***********************
00_RESET
************************/

$main-color: #01D4B3;
$gray: #F7F7F7;

$height-header: 86px;

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, main, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Open Sans", "Yu Gothic", "游ゴシック体", "Yu Gothic", YuGothic,  sans-serif;
}

main {
  display: block;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ul, ol {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
  color: #1D568F;
  text-decoration: none;
  font-size: 12px;
}

a:hover{
  color: #1D568F;
  text-decoration: none;
  cursor: pointer;
}

img {
  vertical-align: bottom;
}

/***********************
01_COMMON
************************/
body {
  min-width: 1100px;
  overflow-x: hidden;
}

p {
  font-size: 16px;
  line-height: 18px;
  color: #676767;
}

h2 {
  text-align: center;
  color: $main-color;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 16px;
  line-height: 1.3;
}

.text-center {
  text-align: center;
}

.text-small {
  font-size: 12px;
}

.text-medium {
  font-size: 14px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.margin-auto {
  margin: 0 auto;
}

.clearfix {
  *zoom: 1;

  &::before,
  &::after {
    content: " ";
    display: table;
  }

  &::after {
    clear: both;
  }
}

.lp-inner {
  width: 1200px;
  display: block;
  margin: 0 auto;
}

.lp-inner-sub {
  width: 1000px;
  display: block;
  margin: 0 auto;
}

.lp-button-white {
  color: $main-color;
  background-color: #FFF;
  border: 2px solid #FFF;
  font-weight: bold;
  transition: .3s;

  &:hover {
    color: white;
    background-color: $main-color;
    border-radius: 30px;
    border: 2px solid #FFF;
  }
}

.lp-button-ghost {
  color: #FFF;
  background-color: $main-color;
  font-weight: bold;
  transition: .3s;
  border: 2px solid #FFF;

  &:hover {
    color: $main-color;
    background-color: #FFF;
    border-radius: 30px;
    border: 2px solid $main-color;
  }
}

.lp-button-small {
  height: 40px;
  width: 100px;
  line-height:40px;
  text-align: center;
  font-weight: bold;
  box-sizing: border-box;
  border-radius: 30px;
  display: block;
}

.lp-button-large {
  width: 220px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  box-sizing: border-box;
  border-radius: 30px;
  display: block;
}

.separator-top {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 120px 100vw 0 0;
  border-color: $main-color #FFF transparent transparent;
}

.separator-footer {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 120px 0 0 100vw;
  border-color: $gray transparent transparent $main-color;
}

/***********************
02_HEADER
************************/
.lp-header {
  background-color: $main-color;
  height: $height-header;
  width: 100vw;
  line-height: 86px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .16);
  position: fixed;
  z-index: 20;

  img {
    position: absolute;
    top: 18px;
  }

  .lp-header-login {
    float: right;

    li {
      display: inline-block;

      & + li {
        margin-left: 8px;
      }
    }
  }
}

/***********************
03_MAIN
************************/
.lp-main {
  z-index: 10;
}

/***********************
04_MAIN VISUAL
************************/
.lp-main-catch {
  padding-top: $height-header;
  color: #FFF;
  position: relative;
  overflow: hidden;
  background-color: $main-color;
  padding-top: 200px;
  padding-bottom: 120px;

  h2 {
    color: #FFF;
    text-align: left;
    font-size: 42px;
    display: inline-block;
  }

  p {
    color: #FFF;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.4;
    margin-top: 16px;
  }

  .lp-button-white {
    margin-top: 40px;
  }
}

.lp-main-catch-text {
  height: 614px;
  margin: 0 auto;
  margin-top: 124px;
  padding: 100px 10px 20px;
  color: #FFF;
  position: relative;

}

.lp-main-catch-visual {
  width: 498px;
  height: 360px;
  margin: 0;
  float: right;

  .pc_mock {
    position: absolute;
    top: 246px;
    right: 170px;
    z-index: 1;
    background: url(../img/pc_mock.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
    width: 30%;
    height: 77%;
  }
}

/***********************
05_RECOMMEND
************************/
.lp-main-recommend {
  padding: 80px 0px;

  ul {
    margin-bottom: 56px;

    li {
      display: inline-block;
      width: 216px;
      margin-top: 40px;
      text-align: center;
      vertical-align: top;

      &:not(:nth-child(4n)) {
        margin-right: 40px;
      }
    }
  }

  .lp-inner-sub-title {
    font-weight: bold;
    margin-top: 16px;
  }

  .lp-inner-sub-description {
    background-color: $gray;
    padding: 24px 40px;
    border-radius: 24px;
    position: relative;
    margin-top: 24px;

    &::before {
      content: "";
      height: 0;
      width: 0;
      top: -35px;
      left: 89px;
      border: 20px solid transparent;
      border-bottom: 15px solid $gray;
      position: absolute;
    }
  }
}

/***********************
06_MERIT
************************/
.lp-main-merit {
  background-color: $gray;
  padding: 80px 0;

  $list-width: 700px;

  .lp-main-merit-list {
    display: block;
    margin: 64px auto 56px auto;
    width: $list-width;

    & > li {
      position: relative;

      &:not(:first-child) {
        margin-top: 64px;
      }

      &:nth-child(even) {
        .lp-main-merit-list-image {
          float: left;
          text-align: left;
        }

        .lp-main-merit-list-description {
          padding-left: 470px;
        }
      }

      &:nth-child(odd) {
        .lp-main-merit-list-image {
          float: right;
          text-align: right;
        }
      }
    }
  }

  .lp-main-merit-list-description {
    margin-top: 60px;
  }

  .lp-main-merit-list-number {
    color: $main-color;
    position: relative;
    font-size: 28px;

    .lp-main-merit-list-number-strong {
      font-size: 42px;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -16px;
      left: 0;
      width: 32px;
      border-bottom: 4px solid $main-color;
    }
  }

  .lp-main-merit-list-image {
    width: $list-width / 2;
  }

  .lp-main-merit-list-title {
    font-size: 21px;
    font-weight: bold;
    margin-top: 32px;
    margin-bottom: 16px;
  }

  .lp-main-merit-list-description-example {
    li {
      list-style: disc;
      list-style-position: inside;
      line-height: 1.6;
    }
  }
}

/***********************
07_FLOW
************************/
.lp-main-flow {
  padding: 80px 0;

  .lp-main-flow-step {
    font-size: 21px;
    font-weight: bold;
  }

  .lp-main-flow-step-strong {
    font-size: 28px;
    font-weight: bold;
  }

  ol {
    margin-top: 64px;
    margin-bottom: 64px;
    text-align: center;

    $list-height: 340px;
    $list-margin: 48px;
    $list-width: 250px - $list-margin;

    li {
      display: inline-block;
      background-color: $gray;
      width: $list-width;
      vertical-align: top;
      padding: 40px 20px;
      box-sizing: border-box;
      position: relative;
      height: $list-height;

      &:not(:last-child) {
        margin-right: $list-margin;
      }

      &:not(:last-child)::after {
        content: '';
        left: $list-width;
        top: 0;
        width: 0;
        border-top: $list-height/2 solid transparent;
        border-right: $list-margin solid transparent;
        border-bottom: $list-height/2 solid transparent;
        border-left: $list-margin solid $gray;

        position: absolute;
      }
    }

    img {
      margin-top: 50px;
      margin-bottom: 70px;
    }
  }
}

/***********************
08_ACTIVITY
************************/
.lp-main-activity {
  background-color: $gray;
  padding: 80px 0;

  ul {
    text-align: center;
    margin-top: 80px;
  }

  li {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 120px;
    }

    p {
      margin-top: 16px;
    }
  }
}

/***********************
09_FOOTER
************************/
.lp-footer {
  padding: 80px 0 50px 0;
  background-color: $main-color;

  h2, p {
    color: #FFF;
    font-weight: bold;
  }

  h2 {
    font-size: 42px;
  }

  .lp-footer-button {
    margin-top: 54px;
    margin-bottom: 64px;
  }

}
