@charset "UTF-8";
/***********************
00_RESET
************************/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, main, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Open Sans", "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
}

main {
  display: block;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ul, ol {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
  color: #1D568F;
  text-decoration: none;
  font-size: 12px;
}

a:hover {
  color: #1D568F;
  text-decoration: none;
  cursor: pointer;
}

img {
  vertical-align: bottom;
}

/***********************
01_COMMON
************************/
body {
  min-width: 1100px;
  overflow-x: hidden;
}

p {
  font-size: 16px;
  line-height: 18px;
  color: #676767;
}

h2 {
  text-align: center;
  color: #01D4B3;
  font-size: 32px;
  margin-bottom: 64px;
}

.text-center {
  text-align: center;
}

.text-small {
  font-size: 12px;
}

.text-medium {
  font-size: 14px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.margin-auto {
  margin: 0 auto;
}

.clearfix {
  *zoom: 1;
}

.clearfix::before, .clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

.button {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 60px;
  text-decoration: none;
  text-align: center;
  border-radius: 3px;
  line-height: 60px;
  font-size: 16px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.lp-inner {
  width: 1200px;
  display: block;
  margin: 0 auto;
}

.lp-inner-sub {
  width: 1000px;
  display: block;
  margin: 0 auto;
}

.lp-button-white {
  color: #01D4B3;
  background-color: #FFF;
  border-radius: 30px;
  border: 2px solid #FFF;
  height: 40px;
  line-height: 40px;
  display: block;
  width: 100px;
  text-align: center;
  font-weight: bold;
}

.lp-button-ghost {
  color: white;
  background-color: #01D4B3;
  border-radius: 30px;
  border: 2px solid #FFF;
  height: 40px;
  line-height: 40px;
  display: block;
  width: 100px;
  text-align: center;
  font-weight: bold;
}

.lp-button-large {
  width: 140px;
  font-size: 21px;
}

.lp-button-white {
  padding: 0 24px;
  margin-top: 32px;
}

.separator-top {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 120px 100vw 0 0;
  border-color: #01D4B3 #FFF transparent transparent;
}

.separator-footer {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 120px 100vw 0 0;
  border-color: #01D4B3 #F7F7F7 transparent transparent;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/***********************
02_HEADER
************************/
.lp-header {
  background-color: #01D4B3;
  height: 86px;
  width: 100vw;
  line-height: 86px;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
  position: fixed;
  z-index: 20;
}

.lp-header img {
  position: absolute;
  top: 18px;
}

.lp-header .lp-header-login {
  float: right;
}

.lp-header .lp-header-login li {
  display: inline-block;
}

/***********************
03_MAIN
************************/
.lp-main {
  z-index: 10;
}

/***********************
04_MAIN VISUAL
************************/
.lp-main-catch {
  padding-top: 86px;
  color: #FFF;
  position: relative;
  overflow: hidden;
  background-color: #01D4B3;
}

.lp-main-catch p {
  color: #FFF;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.2;
  margin-top: 16px;
}

.lp-main-catch-text {
  height: 614px;
  margin: 0 auto;
  margin-top: 124px;
  padding: 100px 10px 20px;
  color: #FFF;
  position: relative;
}

.lp-main-catch-visual {
  width: 498px;
  height: 360px;
  margin: 0;
  float: right;
}

.lp-main-catch-visual .sp_mock {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
  background: url(../img/sp_mock.png) no-repeat;
  background-size: 100%;
  width: 20%;
  height: 80%;
}

.lp-main-catch-visual .pc_mock {
  position: absolute;
  top: 246px;
  right: 170px;
  z-index: 1;
  background: url(../img/pc_mock.png) no-repeat;
  background-size: 100%;
  width: 30%;
  height: 77%;
}

/***********************
05_RECOMMEND
************************/
.lp-main-recommend ul li {
  display: inline-block;
  width: 235px;
  text-align: center;
  vertical-align: top;
}

.lp-main-recommend .lp-button-ghost {
  height: 60px;
  line-height: 60px;
  padding: 0 48px;
  margin-top: 30px;
}

.lp-main-recommend .lp-inner-sub-title {
  font-weight: bold;
  margin-top: 16px;
}

/***********************
06_MERIT
************************/
.lp-main-merit {
  background-color: #F7F7F7;
  padding: 80px 0 50px 0;
}

.lp-main-merit .lp-main-merit-list {
  display: block;
  margin: 64px auto 0 auto;
  width: 700px;
}

.lp-main-merit .lp-main-merit-list .lp-main-merit-list-image {
  width: 350px;
}

.lp-main-merit .lp-main-merit-list > li {
  position: relative;
}

.lp-main-merit .lp-main-merit-list > li:not(:first-child) {
  margin-top: 32px;
}

.lp-main-merit .lp-main-merit-list > li:nth-child(even) .lp-main-merit-list-image {
  float: left;
}

.lp-main-merit .lp-main-merit-list > li:nth-child(even) .lp-main-merit-list-description {
  margin-left: 350px;
}

.lp-main-merit .lp-main-merit-list > li:nth-child(odd) .lp-main-merit-list-image {
  float: right;
}

.lp-main-merit .lp-main-merit-list .lp-main-merit-list-number {
  color: #01D4B3;
  position: relative;
}

.lp-main-merit .lp-main-merit-list .lp-main-merit-list-number::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 32px;
  border-bottom: 4px solid #01D4B3;
}

.lp-main-merit .lp-main-merit-list .lp-main-merit-list-title {
  font-size: 21px;
  font-weight: bold;
  margin-top: 32px;
}

/***********************
07_FLOW
************************/
.lp-main-flow {
  padding: 80px 0 50px 0;
}

.lp-main-flow ol {
  margin-top: 64px;
  margin-bottom: 64px;
  text-align: center;
}

.lp-main-flow ol li {
  display: inline-block;
  background-color: #F7F7F7;
  width: 202px;
  vertical-align: top;
  padding: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  height: 340px;
}

.lp-main-flow ol li:not(:last-child) {
  margin-right: 48px;
}

.lp-main-flow ol li:not(:last-child)::after {
  content: '';
  left: 202px;
  top: 0;
  width: 0;
  border-top: 170px solid transparent;
  border-right: 48px solid transparent;
  border-bottom: 170px solid transparent;
  border-left: 48px solid #F7F7F7;
  position: absolute;
}

.lp-main-flow ol img {
  margin-top: 40px;
  margin-bottom: 40px;
}

/***********************
08_ACTIVITY
************************/
.lp-main-activity {
  background-color: #F7F7F7;
  height: 585px;
  padding: 80px 0 50px 0;
}

.lp-main-activity ul {
  text-align: center;
}

.lp-main-activity li {
  display: inline-block;
}

.lp-main-activity li:not(:last-child) {
  margin-right: 36px;
}

.lp-main-activity li p {
  margin-top: 16px;
}

/***********************
09_FOOTER
************************/
.lp-footer {
  height: 700px;
  padding: 80px 0 50px 0;
  background-color: #01D4B3;
}

.lp-footer h2, .lp-footer p {
  color: #FFF;
}
