/***********************
00_RESET
************************/

$main-color: #01D4B3;
$gray: #F7F7F7;

$pc: "only screen and (min-width: 751px)";
$sp: "only screen and (max-width: 750px)";


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, main, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Open Sans", "Yu Gothic", "游ゴシック体", "Yu Gothic", YuGothic,  sans-serif;
}

main {
  display: block;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ul, ol {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
  color: #1D568F;
  text-decoration: none;
  font-size: 12px;
}

a:hover{
  color: #1D568F;
  text-decoration: none;
  cursor: pointer;
}

img {
  vertical-align: bottom;
}

/***********************
01_COMMON
************************/
body {
  @media #{$pc} {
    min-width: 1100px;
    overflow-x: hidden;
  }
}

h2 {
  text-align: center;
  color: $main-color;
  font-weight: bold;

  @media #{$pc} {
    font-size: 32px;
    line-height: 1.3;
  }

  @media #{$sp} {
    font-size: 24px;
    text-align: center;
    line-height: 1.2;
  }
}

p {
  color: #676767;

  @media #{$pc} {
    font-size: 16px;
    line-height: 18px;
  }

  @media #{$sp} {
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
  }
}

.text-center {
  text-align: center;
}

.text-small {
  font-size: 12px;
}

.text-medium {
  font-size: 14px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.margin-auto {
  margin: 0 auto;
}

.clearfix {
  *zoom: 1;

  &::before,
  &::after {
    content: " ";
    display: table;
  }

  &::after {
    clear: both;
  }
}

.lp-inner {
  @media #{$pc} {
    width: 1200px;
    display: block;
    margin: 0 auto;
  }

  @media #{$sp} {
    width: calc(100vw - 32px);
    padding: 0 16px;
  }
}

.lp-inner-sub {
  @media #{$pc} {
    display: block;
    margin: 0 auto;
    width: 1000px;
  }

  @media #{$sp} {
    width: calc(100vw - 32px);
    padding: 0 16px;
  }
}

.lp-button-white {
  color: $main-color;
  background-color: #FFF;
  border: 2px solid #FFF;
  font-weight: bold;
  transition: .3s;

  &:hover {
    color: white;
    background-color: $main-color;
    border-radius: 30px;
    border: 2px solid #FFF;
  }
}

.lp-button-ghost {
  color: #FFF;
  background-color: $main-color;
  font-weight: bold;
  transition: .3s;
  border: 2px solid #FFF;

  &:hover {
    color: $main-color;
    background-color: #FFF;
    border-radius: 30px;
    border: 2px solid $main-color;
  }
}

.lp-button-small {
  text-align: center;
  font-weight: bold;
  box-sizing: border-box;
  border-radius: 30px;
  display: block;

  @media #{$sp} {
    height: 32px;
    width: 95px;
    line-height: 32px;
  }

  @media #{$pc} {
    height: 40px;
    width: 100px;
    line-height:40px;
  }
}

.lp-button-large {
  text-align: center;
  font-weight: bold;
  box-sizing: border-box;
  border-radius: 30px;
  display: block;

  @media #{$pc} {
    width: 220px;
    height: 60px;
    line-height: 60px;
    font-size: 21px;
  }

  @media #{$sp} {
    width: 175px;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
  }
}

.separator-top {
  width: 0;
  height: 0;
  border-style: solid;
  border-color: $main-color #FFF transparent transparent;

  @media #{$pc} {
    border-width: 120px 100vw 0 0;
  }

  @media #{$sp} {
    border-width: 50px 100vw 0 0;
  }
}

.separator-footer {
  width: 0;
  height: 0;
  border-style: solid;
  border-color: $gray transparent transparent $main-color;

  @media #{$pc} {
    border-width: 120px 0 0 100vw;
  }

  @media #{$sp} {
    border-width: 50px 0 0 100vw;
  }
}

.pc-none {
  @media #{$pc} {
    display: none!important;
  }
}

.sp-none {
  @media #{$sp} {
    display: none!important;
  }
}

/***********************
02_HEADER
************************/

// main の計算で使用するので、ヘッダースコープ外
$height-header-pc: 86px;
$height-header-sp: 54px;

.lp-header {
  @media #{$pc} {
    height: $height-header-pc;
    line-height: $height-header-pc;
  }

  @media #{$sp} {
    height: $height-header-sp;
    line-height: $height-header-sp;
  }

  background-color: $main-color;
  width: 100vw;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .16);
  position: fixed;
  z-index: 20;

  img {
    position: absolute;
    top: 18px;

    @media #{$sp} {
      height: 32px;
      top: 12px
    }
  }

  .lp-header-login {
    float: right;

    li {
      display: inline-block;

      & + li {
        margin-left: 8px;
      }
    }
  }
}

/***********************
03_MAIN
************************/
.lp-main {
  width: 100vw;
}

/***********************
04_MAIN VISUAL
************************/
.lp-main-catch {
  color: #FFF;
  position: relative;
  overflow: hidden;
  background-color: $main-color;

  @media #{$pc} {
    padding-top: $height-header-pc + 120px;
    padding-bottom: 120px;
  }

  @media #{$sp} {
    // ヘッダー分を足し算
    padding-top: $height-header-sp + 60px;
    padding-bottom: 60px;
    text-align: center;
  }

  h2 {
    color: #FFF;
    text-align: left;
    font-size: 42px;
    display: inline-block;

    @media #{$sp} {
      font-size: 26px;
      text-align: center;
    }
  }

  p {
    color: #FFF;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.4;
    margin-top: 16px;
    display: inline-block;

    @media #{$sp} {
      margin-bottom: 36px;
    }
  }

  .lp-button-white {
    margin-top: 40px;

    @media #{$sp} {
      margin: 40px auto 0 auto
    }
  }

  .lp-main-catch-text {
    height: 614px;
    margin: 0 auto;
    margin-top: 124px;
    padding: 100px 10px 20px;
    color: #FFF;
    position: relative;
  }

  img {
    @media #{$sp} {
      width: 100%;
      float: none;
    }

    width: 640px;
    margin: 0;
    float: right;
  }
}

/***********************
05_RECOMMEND
************************/
.lp-main-recommend {

  @media #{$pc} {
    padding: 80px 0px;
  }

  @media #{$sp} {
    padding: 54px 0px;
    text-align: center;
  }

  ul {
    margin-bottom: 56px;

    @media #{$sp} {
      text-align: left;
      margin-bottom: 40px;

      img {
        width: 92px;
      }
    }

    li {
      display: inline-block;
      vertical-align: top;
      text-align: center;

      @media #{$pc} {
        width: 216px;
        margin-top: 40px;

        &:not(:nth-child(4n)) {
          margin-right: 40px;
        }
      }

      @media #{$sp} {
        width: 45%;

        &:nth-child(odd) {
          margin-right: 5%;
        }

        &:nth-child(n + 3) {
          margin-top: 32px;
        }
      }
    }
  }

  .lp-inner-sub-title {
    font-weight: bold;
    margin-top: 16px;
  }

  .lp-inner-sub-description {
    background-color: $gray;
    padding: 24px 40px;
    border-radius: 24px;
    position: relative;
    margin-top: 24px;

    @media #{$sp} {
      border-radius: 12px;
      padding: 12px 16px;
    }

    &::before {
      content: "";
      height: 0;
      width: 0;
      top: -35px;
      left: calc(50% - 15px);
      position: absolute;

      @media #{$pc} {
        border: 20px solid transparent;
        border-bottom: 15px solid $gray;
      }

      @media #{$sp} {
        border: 15px solid transparent;
        border-bottom: 25px solid $gray;
      }
    }
  }
}

/***********************
06_MERIT
************************/
@media #{$pc} {
  .lp-main-point {
    background-color: $gray;
    padding: 80px 0;

    $list-width: 700px;

    .lp-main-point-list {
      display: block;
      margin: 64px auto 56px auto;
      width: $list-width;

      & > li {
        position: relative;

        &:not(:first-child) {
          margin-top: 64px;
        }

        &:nth-child(even) {
          .lp-main-point-list-image {
            float: left;
            text-align: left;
          }

          .lp-main-point-list-description {
            padding-left: 470px;
          }
        }

        &:nth-child(odd) {
          .lp-main-point-list-image {
            float: right;
            text-align: right;
          }
        }
      }
    }

    .lp-main-point-list-description {
      margin-top: 60px;
    }

    .lp-main-point-list-number {
      color: $main-color;
      position: relative;
      font-size: 28px;

      .lp-main-point-list-number-strong {
        font-size: 42px;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: -16px;
        left: 0;
        width: 32px;
        border-bottom: 4px solid $main-color;
      }
    }

    .lp-main-point-list-image {
      width: $list-width / 2;
    }

    .lp-main-point-list-title {
      font-size: 21px;
      font-weight: bold;
      margin-top: 32px;
      margin-bottom: 16px;
    }

    .lp-main-point-list-description-example {
      li {
        list-style: disc;
        list-style-position: inside;
        line-height: 1.6;
      }
    }
  }
}

@media #{$sp} {

  .lp-main-point-list {
    margin-bottom: 40px;
  }

  .lp-main-point {
    background-color: $gray;
    padding: 54px 0;

    img {
      width: 100%;
      margin-top: 32px;
    }

    .lp-main-point-list-description {
      width: calc(100vw - 128px);
      margin: 0 auto;
    }

    .lp-main-point-list-number {
      color: $main-color;
      position: relative;
      font-size: 21px;
      font-weight: bold;
      margin-top: 16px;

      &::after {
        content: '';
        position: absolute;
        bottom: -16px;
        left: calc(50% - 18px);
        width: 36px;
        border-bottom: 4px solid $main-color;
      }
    }

    .lp-main-point-list-number-strong {
      font-size: 28px;
    }

    .lp-main-point-list-title {
      font-size: 16px;
      font-weight: bold;
      margin-top: 32px;
      margin-bottom: 16px;
    }
  }

  .lp-main-point-list-description-example {
    li {
      list-style: disc;
      list-style-position: inside;
      line-height: 1.6;
      font-size: 14px;
    }
  }
}

/***********************
07_FLOW
************************/
.lp-main-flow {

  @media #{$pc} {
    padding: 80px 0px;
  }

  @media #{$sp} {
    padding: 54px 0px;
    text-align: center;
  }

  .lp-main-flow-step {
    font-size: 21px;
    font-weight: bold;
  }

  .lp-main-flow-step-strong {
    font-size: 28px;
    font-weight: bold;
  }

  ol {
    margin-top: 64px;
    margin-bottom: 64px;
    text-align: center;

    $list-height: 340px;
    $list-margin: 48px;
    $list-width: 250px - $list-margin;

    @media #{$pc} {
      li {
        display: inline-block;
        background-color: $gray;
        width: $list-width;
        vertical-align: top;
        padding: 40px 20px;
        box-sizing: border-box;
        position: relative;
        height: $list-height;

        &:not(:last-child) {
          margin-right: $list-margin;
        }

        &:not(:last-child)::after {
          content: '';
          left: $list-width;
          top: 0;
          width: 0;
          border-top: $list-height/2 solid transparent;
          border-right: $list-margin solid transparent;
          border-bottom: $list-height/2 solid transparent;
          border-left: $list-margin solid $gray;

          position: absolute;
        }
      }

      img {
        margin-top: 50px;
        margin-bottom: 70px;
      }
    }

    @media #{$sp} {
      li {
        background-color: $gray;
        position: relative;
        margin-bottom: 48px;
        padding: 12px 0 24px 0;
        height: 215px;
        box-sizing: border-box;

        &:not(:last-child)::after {
          content: "";
          width: 0;
          height: 0;
          position: absolute;
          border-right: calc(50vw - 12px) solid transparent;
          border-left: calc(50vw - 12px) solid transparent;
          border-top: 25px solid #F7F7F7;
          left: 0;
          bottom: -24px;
        }
      }

      .lp-main-flow-step {
        margin-bottom: 16px;
      }

      img {
        margin-bottom: 24px;
      }
    }
  }
}

/***********************
08_ACTIVITY
************************/
.lp-main-activity {
  background-color: $gray;

  @media #{$pc} {
    padding: 80px 0;
  }

  @media #{$sp} {
    padding: 54px 0
  }

  ul {
    text-align: center;

    @media #{$pc} {
      margin-top: 80px;
    }

    @media #{$sp} {
      margin-top: 40px;
    }
  }

  img {
    @media #{$sp} {
      width: 100px;
    }
  }

  li {
    display: inline-block;

    @media #{$sp} {
      width: 45%;

      &:nth-child(n + 3) {
        margin-top: 32px;
      }
    }

    @media #{$pc} {
      &:not(:last-child) {
        margin-right: 120px;
      }
    }

    p {
      margin-top: 16px;
    }
  }
}

/***********************
09_FOOTER
************************/
.lp-footer {
  padding: 80px 0 50px 0;
  background-color: $main-color;

  @media #{$sp} {
    padding: 55px 0 50px 0;
  }

  h2, p {
    color: #FFF;
    font-weight: bold;
  }

  h2 {
    font-size: 42px;
    margin-bottom: 24px;

    @media #{$sp} {
      font-size: 26px;
      margin-bottom: 16px;
    }
  }

  img {
    width: 117px;
  }

  .lp-footer-button {
    margin-top: 54px;
    margin-bottom: 64px;

    @media #{$sp} {
      margin-top: 40px;
    }
  }
}
