.globalHeader {
  position: relative;
  height: 50px;
  border-bottom: 1px solid #ccc;

  a {
    display: block;
  }

  &__logo {
    width: 150px;
    margin: 0 auto;
    padding-top: 15px;

    img {
      width: 150px;
    }
  }

  &__menu {
    position: absolute;
    top: 18px;
    left: 15px;
    width: 22px;

    img {
      width: 22px;
    }
  }
  &__search {
    position: absolute;
    top: 16px;
    right: 15px;
    width: 18px;

    img {
      width: 18px;
    }
  }
}
