<!DOCTYPE html>
<html lang="ja">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
        <title>{% block title %}教育業界の転職・求人に関わる情報を配信【Education Careerマガジン】{% endblock %}</title>
        <meta name="description" content="{% block description %}教育業界の転職・求人に役立つ情報を配信します。教育業界への転職を考えている方に向けて、企業や給与、教育分野のトレンドの情報を発信します。
    {% endblock %}">

        <link rel="stylesheet" href="/css/craft/common.css" media="only screen and (min-width: 641px)">
        <link rel="stylesheet" href="/css/craft/sp/common.css" media="only screen and (max-width: 640px)">
        <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>

        {% block og %}
            <meta property="og:title" content="教育業界の転職・求人に関わる情報を配信【Education Careerマガジン】">
            <meta property="og:description" content="教育業界の転職・求人に役立つ情報を配信します。教育業界への転職を考えている方に向けて、企業や給与、教育分野のトレンドの情報を発信します。">
            <meta property="og:image" content="https://education-career.jp/images/og_image.jpg">
            <meta property="og:url" content="https://education-career.jp/">
            <meta property="og:type" content="website">
        {% endblock %}
    {% endblock %}
</head>
<body>
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '1760237594207977',
            xfbml: true,
            version: 'v2.5'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/ja_JP/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WHD4DX"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WHD4DX');</script>
<!-- End Google Tag Manager -->

<header>
    <div class="headerWrap">
        <div class="header">
            <h1 class="header__item header__logo"><a href="{{ siteUrl }}"><img src="/images/craft/logo.png"
                                                                               alt="Education Carrer"></a>
            </h1>
            <nav class="header__item header__linkWrap">
                <ul class="header__link">
                    {% if entry is defined %}
                        {% set current_slug = entry.article_category.first().slug %}
                    {% else %}
                        {% if category is defined %}
                            {% set current_slug = category.slug %}
                        {% else %}
                            {% set current_slug = '' %}
                        {% endif %}
                    {% endif %}

                    {% for category in craft.categories.group('article_category').find() %}
                        {% if current_slug == category.slug %}
                            <li class="current"><a href="{{ siteUrl }}{{ category.slug }}">{{ category.title }}</a></li>
                        {% else %}
                            <li><a href="{{ siteUrl }}{{ category.slug }}">{{ category.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
            <div class="header__item header__actionWrap">
                <ul class="header__action">
                    <li>
                        <a href="https://education-career.jp/agent" target="_blank" class="btnPrimary">
                            <span class="btnPrimary__desc">エージェントに</span>
                            <span class="btnPrimary__main">転職相談《無料》</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://education-career.jp/" target="_blank" class="btnSecondary">
                            <span class="btnSecondary__main">教育業界の求人を探す</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="mainWrap">
        <div class="main">
            <div class="main__item mainInfoWrap">
                {% block side_content %}
                {% endblock %}
            </div>

            <div class="main__item mainContentWrap">
                <div class="mainContent">
                    {% block main_content %}
                    {% endblock %}
                </div>
            </div>

            <div class="main__item mainLinkWrap">
                <div class="mainLink">
                    {% include "popular_articles.html" %}
                    {% include "latest_articles.html" %}
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="footerWrap">
        <div class="footer">
            <div class="footer__item footerInfo pc-show">
                <div class="footerInfo__logo">
                    <a href="{{ siteUrl }}">
                        <img src="/images/craft/logo.png" alt="Education Carrer">
                    </a>
                    <span class="sp-show">をフォロー</span>
                </div>
                <div class="footerInfo__link">
                    <p class="footerInfo__link__head">カテゴリー</p>
                    <ul class="footerInfo__link__list">
                        <li><a href="{{ siteUrl }}interview">インタビュー</a></li>
                        <li><a href="{{ siteUrl }}career">キャリア</a></li>
                        <li><a href="{{ siteUrl }}data-report">データ/レポート</a></li>
                    </ul>
                </div>
                <div class="footerInfo__share">
                    <p class="footerInfo__share__head">公式アカウントをフォロー</p>
                    <ul class="footerInfo__share__list">
                        <li class="fb facebook-follow">
                            <a href="https://www.facebook.com/educationcareerjp/" target="_blank">
                                <img src="/images/craft/icn_facebook.png" alt="Facebook Page">
                            </a>
                        </li>
                        <li class="tw">
                            <a href="https://twitter.com/intent/follow?screen_name=educareer_tw"><img
                                    src="/images/craft/icn_twitter.png" alt="Twitter Follow"/></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer__item footerFB">
                <div class="fb-page" data-href="https://www.facebook.com/educationcareerjp/" data-tabs="timeline"
                     data-width="600" data-height="350" data-small-header="true" data-adapt-container-width="true"
                     data-hide-cover="false" data-show-facepile="false">
                    <div class="fb-xfbml-parse-ignore">
                        <blockquote cite="https://www.facebook.com/educationcareerjp/"><a
                                href="https://www.facebook.com/educationcareerjp/">Education Career</a></blockquote>
                    </div>
                </div>
            </div>
            <div class="sp-show footer__actionWrap">
                <ul class="footer__action">
                    <li>
                        <a href="https://education-career.jp/agent" class="btnPrimary">
                            <span class="btnPrimary__desc">エージェントに</span>
                            <span class="btnPrimary__main">転職相談《無料》</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://education-career.jp/" class="btnSecondary">
                            <span class="btnSecondary__main">教育業界の求人を探す</span>
                        </a>
                    </li>
                </ul>
            </div>
            <p class="footer__copy">Copyright© Fun of Life ,Inc All Right Reserved.</p>
        </div>
    </div>
</footer>
{% block below_footer %}
{% endblock %}

</body>
</html>

