<!--{% set popular_entries = craft.entries.article.order('postDate desc').limit(5) %}-->
{% set popular_entries = [] %}
{% if popular_entries|length > 0 %}
<section class="mainLink__section">
    <h2 class="mainLink__section__head">人気記事</h2>
    <ul class="mainLink__section__list">
        {% set counter = 1 %}
        {% for popular_entry in popular_entries %}
        {% set image = popular_entry.thumbnail.first() %}
        <li>
            <a href="/magazine/{{ popular_entry.uri }}">
                <div class="popularAtcl">
                    <div class="popularAtcl__img areaTop" data-popAtcl="{{ counter }}"><img
                            src="{{ image ? image.url : '#' }}" alt="{{ image ? image.title : '' }}">
                    </div>
                    <div class="popularAtcl__info">
                        <p>{{ popular_entry.title }}</p>
                    </div>
                </div>
            </a>
        </li>
        {% set counter = counter + 1 %}
        {% endfor %}
    </ul>
</section>
{% endif %}