.agent {

  .agent-main-pc {
    height: 519px;
    background-image: url('../images/agent-main-bg-pc.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .agent-main-title-pc {
    display: block;
    margin: 0 auto;
    padding-top: 135px;
    width: 719px
  }

  .agent-register-button-pc {
    display: block;
    margin: 0 auto;
    width: 404px;
    padding-top: 45px;
  }

  .agent-main-sp {
    height: 388px;
    background-image: url('../images/agent-main-bg-sp.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .agent-main-title-sp {
    padding-top: 46px;
    width: 320px;
  }

  .agent-register-button-sp {
    width: 240px;
    padding-top: 28px;
  }

  .agent-merit {
    padding-top: 30px;
    padding-bottom: 30px;
    display: block;

    h2 {
      margin-bottom: 30px;
      text-align: center;

      img {
        width: 380px;
      }
    }
  }

  .agent-merit-list {
    margin-top: 15px;

    img {
      width: 757px;
      margin: 0 auto;
      margin-top: 40px;
      display: block;

      + img {
        margin-top: 30px;
      }
    }
  }

  .agent-contact-area {
    @include pc() {
      background-image: url('../images/agent-contact-bg-pc.png');
      background-repeat: no-repeat;
      background-size: cover;
      height: 188px;

      img {
        width: 132px;
        padding-top: 30px;
      }

      .agent-contact-area-text {
        margin-top: 10px;
        font-size: 18px;
        font-family: "Yu Mincho", "YuMincho";
      }

      .sub-button {
        margin-top: 15px;
        width: 355px;
        font-size: 20px;
        letter-spacing: 2px;
      }
    };
  }

  .agent-flow {
    img {
      width: 1021px;
      padding-top: 20px;
    }

    padding-bottom: 20px;
  }

  .agent-flow-title {
    padding-top: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }

  @include sp() {
    .agent-merit {
      padding-top: 30px;
      padding-bottom: 30px;
      display: block;

      h2 {
        margin-bottom: 30px;
        text-align: center;

        img {
          width: 304px;
        }
      }
    }

    .agent-merit-list {
      margin-top: 15px;

      img {
        width: 375px;
      }
    }

    .agent-contact-area {
      background-color: $orange;
      padding: 20px 5px;
      margin-top: 10px;
      font-size: 18px;
      color: #FFF;

      img {
        width: 139px;
      }

      .agent-contact-area-text {
        font-family: "Yu Mincho", "YuMincho";
        margin-top: 10px;
      }

      .sub-button {
        background-color: #FFF;
        width: 100%;
        color: $orange;
        margin-top: 10px;
        font-size: 18px;
        letter-spacing: 2px;
      }
    }

    .agent-scroll-area-sp {
      width: 100%;
      overflow-x: auto;
      padding: 20px;
      margin-bottom: 20px;
    }
  }
}
