.detail {

  background-color: #FAFAFA;

  textarea {
    background-color: #F8F8F8;
  }

  // 関連求人 override
  .job-detail {
    width: 86%;
  }

  h3 {
    display: block;
    border-left: 6px solid #649E00;
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;

    + * {
      margin-top: 10px;
    }
  }

  .job-tag-area {
    p {
      display: inline-block;
    }
  }

  .job-tag {
    color: white;
    font-size: 8px;
    background-color: #649E00;
    border-radius: 0px;
    padding: 4px 8px;
    margin-top: 10px;
    font-weight: normal;

    @include sp() {
      border-radius: 0px!important;
    };
  }

  .main-table {
    border-spacing: 00px 10px;
    border-collapse: separate;

    th {
      background-color: #649E00;
      color: #FFF;
      border: none;
    }

    td {
      border: none;
      background-color: #F0F0F0;
    }
  }

  .detail-inner {
    padding: 20px;
    background-color: #FFF;
    margin: 20px auto;
    width: 960px;
  }

  .detail-title {
    img {
      width: 40px;
      height: 40px;
      vertical-align: middle;
    }

    font-size: 20px;
    font-weight: bold;

    padding-bottom: 8px;
    border-bottom: 4px solid #649E00;
  }

  .detail-subinfo {
    margin-top: 10px;

    p {
      display: inline-block;
    }
  }

  .detail-subinfo-name {
    color: #9B9B9B;
  }

  .detail-subinfo-category {
    color: #649E00;
    span {
      background-color: #649E00;
      font-size: 8px;
      color: #FFF;
      display: inline-block;
      height: 20px;
      line-height: 20px;
      padding: 0px 8px;
    }
  }

  .detail-description {
    margin-top: 13px;

    p {
      padding: 10px 20px;
      background-color: #F0F0F0;
      border-radius: 4px;
      line-height: 1.5;
      border: 1px solid #EEE;
      color: #333333;
    }

    h3 + p {
      margin-top: 10px;
    }
  }

  .detail-youkou {
    margin-top: 20px;
  }

  .detail-profile {
    margin-top: 20px;
  }

  .detail-kanren {
    margin-top: 20px;

    .syokusyu {
      width: 10%;
    }

    .naiyou {
      width: 87%;
    }


  }

  .detail-form {
    padding: 30px 0;
    background-color: #fafafa;
    text-align: center;
    margin-left: -30px;
    margin-right: -30px;

    a.kiyaku {
      color: #375FB1;
      text-decoration: underline;
    }

    p {
      margin-bottom: 10px;
    }

    .m-button--default {
      border-bottom: none;
      background-color: #649E00;
    }

    .m-button--primary {
      width: 220px;
    }
  }

  .detail-form, .detail-apply {
    .main-button, .sub-button {
      vertical-align: middle;
    }

    .main-button {
      width: 160px;
    }

    .sub-button {
      width: 240px;
      margin-left: 20px;
    }
  }

  .detail-apply-title {
    text-align: center;

    p {
      font-size: 20px;
      font-weight: bold;
    }

    img {
      margin-top: 20px;
      width: 180px;
    }

    + p {
      margin-top: 30px;
      font-size: 13px;

      @include sp() {
        line-height: 2;
        margin-top: 20px;
      }
    }
  }

  .detail-apply {

    padding: 30px 0;

    table {

      width: 70%;
      margin: 30px auto 0;

      input {
        height: 50px;
        background-color: #F8F8F8;
      }

      th, td {
        background-color: transparent;
        border: none;
      }

      th {
        font-weight: bold;
        padding: 10px;

        @include sp() {
          padding: 0;
          padding-bottom: 5px;
          font-size: 13px;
        };
      }

      .w100 {
        width: 100%;
      }

      input, select, textarea {
        border-radius: 5px;
        padding-left: 20px;
      }
    }

    text-align: center;

    a.kiyaku {
      color: #375FB1;
      text-decoration: underline;
    }

    .m-button--default {
      border-bottom: none;
      background-color: #649E00;
    }

    .m-button--primary {
      width: 220px;
    }

    .detail-apply-confirm {
      color: #797979;
      margin-top: 30px;
      margin-bottom: 20px;
    }
  }

  @include sp() {
    .detail-inner {
      width: 100%;
      padding: 0;
      margin-top: 10px;
    }

    .detail-title {
      padding-left: 10px;
      margin-top: 5px;
      font-size: 14px;
      border-bottom: 1px solid #F0F0F0;
    }

    .detail-apply-title {
      img {
        width: 170px;
      }
    }

    .detail-form, .detail-apply {
      .main-button {
        width: 30%;
      }
      .sub-button {
        width: 60%;
        margin-left: 10px;
      }
    }

    .job-tag-company {
      font-size: 12px;
      color: #999999;
    }

    .main-table {
      tr, td, th {
        width: 100%;
        display: block;
      }

      th, td {
        padding: 10px;
      }

      td {
        border-bottom: 3px solid #FFF;
        color: #333333;
      }
    }

    .detail-kanren {
      margin-top: 0;

      ul {
        margin: 10px;
      }
    }

    .detail-form {
      margin-left: 0;
      margin-right: 0;
      color: #797979;
      font-size: 12px;
    }

    .detail-apply {

      table {
        width: calc(100% - 20px);
        margin: 10px 10px 0;
      }

      tr, td, th {
        width: 100%;
        display: block;
        padding: 0;
      }

      tr {
        margin-bottom: 15px;
      }
    }

    .small {
      font-size: 10px;
      color: #797979;
    }
  };
}
