.job {
  margin-top: 40px !important;

  .job-inner {
    width: 1200px;
    margin: 0 auto;
  }

  .job-result-title {
    display: block;
    border-bottom: 3px solid #649E00;
    font-size: 20px;
  }

  .job-pagination {
    margin-top: 10px;
  }

  @include sp() {
    .job-inner, .new-job {
      width: 100%;
    }

    .job-result-title {
      padding-bottom: 5px;
      padding-left: 5px;
    }

    .job-tag-area {
      p {
        display: inline-block;
      }
    }
  };
}
