.login {
  background-color: #F0F0F0;
  text-align: center;
  padding: 30px 0;

  .button {
    display: block;
    color: #FFF;
    background-color: #649E00;
    margin: 0 auto;
    border-radius: 4px;
    margin-top: 20px;
    text-align: center;
    height: 44px;
    line-height: 44px;

    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }

  h2 {
    font-size: 20px;
    // font-weight: bold;
    margin-bottom: 10px;
    color: #333333;
  }

  .login-inner {
    width: 600px;
    margin: 0 auto;
    background-color: #FFF;
    padding: 50px 0;
  }

  .login-form {
    width: 383px;
    margin: 30px auto 0;

    input {
      display: block;
      width: 100%;
      height: 44px;
      margin: 15px auto;
    }

    // SNSボタンと横幅をあわせるために微調整
    form {
      width: 98%;
      margin: 0 auto;
      margin-top: 20px;
    }
  }

  .login-form-sns {
    display: inline-block;
    margin-top: 30px;

    a {
      display: inline-block;

      img {
        width: 189px;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .login-form-caution {
    font-size: 10px;
    color: #999999;
    text-align: left;
    margin-top: -10px;

  }

  .login-form-kiyaku {
    font-size: 12px;
    color: #555555;
    margin-top: 10px;

    a {
      color: #375FB1;
      text-decoration: underline;

      @include sp() {
        color: #6BBCED;
      };
    }


  }

  @include sp(){
    h2 {
      font-weight: normal;
      font-size: 16px;
      margin-bottom: 10px;
      margin-top: 20px;
    }

    .button {
      margin-top: 0;
    }

    .login-inner {
      width: 100%;
      padding: 20px 0;
    }

    .login-form {
      width: 100%;

      form {
        width: 335px;
      }
    }

    .login-form-sns {
      display: block;

      a {
        display: block;

        img {
          width: 335px;
        }

        &:hover {
          opacity: 0.8;
        }

        & + a {
          margin-top: 20px;
        }
      }
    }

    .login-form-register {
      border-bottom: 1px solid #F0F0F0;
      padding-bottom: 30px;
      width: 335px;
      margin: 0 auto;
    }

  };
}
