.quit {
  background-color: #F0F0F0;
  padding: 60px 0;

  p {
    font-size: 14px;
    color: #333333;
    line-height: 1.6;
  }

  .button {
    display: block;
    color: #FFF;
    background-color: #649E00;
    width: 335px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 4px;
    margin-top: 30px;
    text-align: center;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 60px;
    border-bottom: 1px solid #CCCCCC;
    width: 580px;
    margin: 0 auto;
  }

  .m-button {
    display: inline-block;
    width: 160px;
    margin-right: 15px;
  }

  .quit-inner {
    width: 960px;
    margin: 0 auto;
    background-color: #FFF;
    padding: 50px 0;
    margin-bottom: 50px !important;
  }

  .quit-form {
    width: 410px;
    margin: 50px auto 0;

  }

  .quit-form-button-area {
    margin-top: 40px;
  }

  @include sp() {
    h2 {
      width: 100%;
      padding-bottom: 40px;
    }

    .quit-inner {
      width: 100%;
    }
  };
}
