.top {



  .career-support {
    overflow: hidden;

    .career-support-section {
      height: 265px;
      width: 50%;
      float: left;
      position: relative;

      img {
        height: 265px;
      }

      &:nth-of-type(3) {
        float: right;

        .career-support-section-text {
          position: absolute;
          left: 146px;
          top: 60px;
        }
      }
    }

    .career-support-section-text:nth-of-type(1) {
      position: absolute;
      right: 146px;
      top: 60px;
    }

    .midashi {
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 10px;
    }

    .support-button {
      margin-top: 40px;
      display: block;
      width: 220px;
      background-color: #649E00;
      border-radius: 4px;
      line-height: 24px;
      height: 24px;
      text-align: center;
      color: white;

      &:hover {
        text-decoration: none;
        opacity: 0.8;
      }
    }
  }

  .top-main-section {
    margin: 0 auto;
    margin-top: 50px;
    width: 1200px;
  }

  .pagination {
    margin-top: 10px!important;
  }

  .top-new-job {
    padding-top: 0px;

    li + li {
      margin-top: 10px;
    }
  }

  @include sp() {
    .career-support {
      background: url(../images/top-bg-sp.png);
      padding: 20px 0;

      h2 {
        img {
          width: 80%;
        }
      }
    }

    .career-support-link-area {
      margin-top: 20px;
    }

    .top-main-section {
      width: 100%;
    }

    .top-new-job {
      float: none;
      width: 100%;
    }

    .job-tag-area {
      p {
        display: inline-block;
        vertical-align: middle;

        & + p {
          font-size: 12px;
          color: #999999;
        }
      }
    }
  };
}
