@charset "utf-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
/*h3,*/
h4,
h5,
h6,
/*p,*/
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
/*em,*/
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
/*strong,*/
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
/*figcaption,*/
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, 'メイリオ', Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  color: #33373b;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: #33373b;
  text-decoration: none;
}
a:not([class]):hover {
  color: #1abb99;
}
.btnPrimary,
.btnSecondary {
  display: block;
  border-radius: 3px;
  text-align: center;
}
.btnPrimary {
  background: #9ed366;
  box-shadow: 0 2px #88b558;
  color: #fff;
  text-shadow: 1px 1px #88b558;
}
.btnPrimary:hover {
  background: #88b558;
}
.btnPrimary__desc {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
}
.btnPrimary__main {
  display: block;
}
.btnSecondary {
  background: #1abb99;
  box-shadow: 0 2px #199c80;
  color: #fff;
  text-shadow: 1px 1px #199c80;
}
.btnSecondary:hover {
  background: #199c80;
}
.btnSecondary__main {
  display: block;
}
blockquote {
  font-style: italic;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 1.4em;
  background-color: #F5F5F5;
  padding: 15px;
}
blockquote::before {
  content: "";
  display: block;
  float:left;
  margin-right: 10px;
  width: 30px;
  height: 29px;
  background: url("/images/craft/icn_quotes.png") no-repeat;
}
figcaption{
  background-color: #F5F5F5;
  text-align: center;
  padding: 15px;
  font-size: 13px;
}
.headerWrap {
  width: 100vw;
  height: 70px;
  margin-bottom: 30px;
  border-bottom: solid 1px #ddd;
  overflow: hidden;
}
.header {
  width: 1200px;
  height: 100%;
  display: table;
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
}
.header__item {
  display: table-cell;
  vertical-align: middle;
}
.header__logo {
  width: 240px;
  height: 30px;
  padding-right: 30px;
}
.header__logo img {
  width: 100%;
  height: 100%;
}
.header__link {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
}
.header__link > li {
  padding: 0 15px;
  position: relative;
}
.header__link > li::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -31px;
  background: #1abb99;
  transition: -webkit-transform 100ms linear;
  transition: transform 100ms linear;
  transition: transform 100ms linear, -webkit-transform 100ms linear;
}
.header__link > li:hover::after,
.header__link > li.current::after {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}
.header__action {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__action > li {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 230px;
  margin-left: 10px;
}
.header__action .btnPrimary {
  padding: 8px 0;
}
.header__action .btnSecondary {
  padding: 16px 0;
}
.footerWrap {
  width: 100vw;
  margin-bottom: 50px;
  padding: 30px 0;
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  background: #f5f5f5;
}
.footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.footerInfo {
  width: 540px;
  margin-right: 30px;
}
.footerInfo__logo {
  width: 350px;
  height: 43px;
  margin-bottom: 45px;
}
.footerInfo__logo img {
  width: 100%;
  height: 100%;
}
.footerInfo__link {
  margin-bottom: 60px;
}
.footerInfo__link__head {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
}
.footerInfo__link__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
}
.footerInfo__link__list > li + li {
  margin-left: 70px;
}
.footerInfo__link__list a {
  color: #85898e;
}
.footerInfo__share__head {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
}
.footerInfo__share__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.footerInfo__share__list > li + li {
  margin-left: 20px;
}
.footerFB {
  margin-left: 142px;
  width: 498px;
}
.footer__copy {
  position: absolute;
  right: 0;
  bottom: -80px;
  color: #99a4af;
  font-size: 14px;
  line-height: 50px;
}
.mainWrap {
  width: 100vw;
}
.main {
  display: table;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 35px;
}
.main__item {
  display: table-cell;
  vertical-align: top;
}
.mainContentWrap {
  width: 100%;
  padding: 0 30px;
}
.mainInfo {
  width: 160px;
}
.mainInfo__share,
.mainInfo__save {
  margin-bottom: 20px;
  padding: 15px;
  border: solid 1px #ddd;
  background: #f5f5f5;
}
.mainInfo__share__head,
.mainInfo__save__head {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: bold;
}
.mainInfo__share__list,
.mainInfo__save__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
.mainInfo__share__list > li,
.mainInfo__save__list > li {
  height: 40px;
}
.mainInfo__share__list > li > img,
.mainInfo__save__list > li > img {
  width: 100%;
  height: 100%;
}
.mainInfo__share__list > li + li,
.mainInfo__save__list > li + li {
  margin-left: 20px;
}
.mainInfo__share__frame {
  width: 210px;
  height: 210px;
  border: solid 1px #ddd;
  box-sizing: border-box;
}
.mainInfo.detail {
  width: 160px;
}
.mainInfo.detail .mainInfo__share {
  margin-bottom: 10px;
}
.mainInfo.detail .mainInfo__share,
.mainInfo.detail .mainInfo__save {
  padding: 20px;
}
.mainInfo.detail .mainInfo__share__head,
.mainInfo.detail .mainInfo__save__head {
  font-size: 15px;
  text-align: center;
  white-space: nowrap;
}
.mainInfo.detail .mainInfo__share__list,
.mainInfo.detail .mainInfo__save__list {
  margin-bottom: 0;
}
.mainInfo.detail .mainInfo__share__list > li,
.mainInfo.detail .mainInfo__save__list > li {
  width: 50px;
  height: 50px;
}
.mainInfo.detail .mainInfo__share__list > li + li,
.mainInfo.detail .mainInfo__save__list > li + li {
  margin-left: 20px;
}
.mainInfo__member {
  padding: 15px;
  border: solid 1px #ddd;
  background: #f5f5f5;
}
.mainInfo__member__head {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}
.mainInfo__member__list > li + li {
  margin-top: 15px;
  padding-top: 15px;
  border-top: solid 1px #ddd;
}
.mainInfo__member.detail .mainInfo__member__head {
  font-size: 15px;
  text-align: center;
  white-space: nowrap;
}
.memberInfo::after {
  content: "";
  display: table;
  clear: both;
}
.memberInfo__img {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  overflow: hidden;
}
.memberInfo__img > img {
  width: 100%;
  height: auto;
}
.memberInfo__prof {
  overflow: hidden;
}
.memberInfo__prof__name {
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: bold;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.memberInfo__prof__comment {
  font-size: 12px;
  line-height: 1.4;
}
.memberInfo.single .memberInfo__img {
  float: none;
  width: 75px;
  height: 75px;
  margin: 0 auto 20px;
}
.memberInfo.single .memberInfo__prof__name {
  color: #3f9eff;
  font-size: 14px;
}
.mainLink {
  width: 300px;
}
.mainLink__section {
  margin-bottom: 30px;
}
.mainLink__section__head {
  margin-bottom: 15px;
  padding: 12px;
  background: #1abb99;
  color: #fff;
  font-size: 18px;
}
.mainLink__section__list > li + li {
  margin-top: 15px;
  padding-top: 15px;
  border-top: solid 1px #ddd;
}
.popularAtcl::after {
  content: "";
  display: table;
  clear: both;
}
.popularAtcl__img {
  float: left;
  width: 100px;
  height: 75px;
  position: relative;
  margin-right: 10px;
  overflow: hidden;
}
.popularAtcl__img > img {
  width: 100%;
  height: auto;
}
.areaTop::before,
.areaSecond::before,
.areaThird::before {
  content: attr(data-popAtcl);
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  color: #fff;
  font-size: 11px;
  line-height: 20px;
  text-align: center;
}
.areaTop::after,
.areaSecond::after,
.areaThird::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  border: solid 30px transparent;
  border-left: solid 30px #333;
  -webkit-transform: rotate(-135deg) translate(45px);
          transform: rotate(-135deg) translate(45px);
}
.areaTop::after {
  border-left-color: #fe6e4c;
}
.areaSecond::after {
  border-left-color: #f6bb33;
}
.areaThird::after {
  border-left-color: #9ed366;
}
.popularAtcl__info {
  font-size: 12px;
  line-height: 1.4;
  overflow: hidden;
}
.newAtcl::after {
  content: "";
  display: table;
  clear: both;
}
.newAtcl__img {
  float: left;
  width: 100px;
  height: 75px;
  margin-right: 10px;
  overflow: hidden;
}
.newAtcl__img > img {
  width: 100%;
  height: auto;
}
.newAtcl__info {
  font-size: 12px;
  line-height: 1.4;
  overflow: hidden;
}
.mainPaginate {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mainPaginate > li {
  width: 22px;
  height: 22px;
  font-size: 14px;
  text-align: center;
  line-height: 22px;
}
.mainPaginate > li > a {
  color: #1abb99;
}
.mainPaginate > li > a:hover {
  text-decoration: underline;
}
.mainPaginate > .current {
  font-weight: bold;
}
.mainPaginate > .first > a,
.mainPaginate > .prev > a,
.mainPaginate > .next > a,
.mainPaginate > .last > a {
  display: block;
  width: 22px;
  height: 22px;
  border: solid 1px #ccc;
  font-size: 10px;
  font-weight: bold;
}
.mainPaginate > .first > a:hover,
.mainPaginate > .prev > a:hover,
.mainPaginate > .next > a:hover,
.mainPaginate > .last > a:hover {
  text-decoration: none;
}
.mainPaginate > .first > a {
  text-indent: -0.1em;
}
.mainPaginate > .first > a::before {
  content: "\003c\003c";
  letter-spacing: -0.1em;
}
.mainPaginate > .prev > a::before {
  content: "\003c";
}
.mainPaginate > .next > a::before {
  content: "\003e";
}
.mainPaginate > .last > a {
  text-indent: -0.1em;
}
.mainPaginate > .last > a::before {
  content: "\003e\003e";
  letter-spacing: -0.1em;
}
.mainPaginate > li + li {
  margin-left: 20px;
}
@media screen and (max-width: 1200px) {
  .headerWrap {
    width: 100vw;
    height: auto;
    padding: 10px 30px;
    box-sizing: border-box;
  }
  .header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .header__item {
    display: block;
  }
  .header__link > li::after {
    content: none;
  }
  .header__actionWrap {
    width: 100%;
    margin-top: 10px;
  }
  .header__action {
    margin-left: -10px;
  }
  .main {
    width: 100vw;
    padding-left: 30px;
    box-sizing: border-box;
  }
  .mainLinkWrap {
    display: none;
  }
  .footerWrap {
    padding: 30px;
    box-sizing: border-box;
  }
  .footer {
    width: 100%;
  }
  .footerTW,
  .footerFB {
    display: none;
  }
  .sp-hide {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .header__linkWrap {
    width: 100%;
    margin-top: 20px;
  }
  .header__actionWrap {
    margin-top: 20px;
  }
  .header__link {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .header__link > li {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
  }
  .main {
    padding-left: 0;
  }
  .mainInfoWrap {
    display: none;
  }
  .sp-hide {
    display: none;
  }
}
.sp-show {
  display: none;
}
.atclShare {
  margin-bottom: 25px;
  padding-bottom: 30px;
  border-bottom: solid 2px #ddd;
}
.atclShare__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.atclShare__list > a img {
  width: 100%;
}
.atclShare__list > a + a {
  margin-left: 10px;
}
.custom-twitter-share-button1 {
  background: url("/images/craft/icn_twitter.png") no-repeat;
}


.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
@media (max-width:767px) {
  .xs-hide {
    display: none;
  }
}


.navs {
  background-color: #fff;
  color: #999999;
  font-family: 'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN', '游ゴシック', 'Yu Gothic', 'YuGothic', 'メイリオ', Meiryo, sans-serif;
  font-weight: 500;
  line-height: 1.4;
  margin-top: 60px;
}
.navs-head {
  margin: 0;
  padding: 10px;
  background-color: #1abb99;
  color: #fff;
  font-size: 20px;
}
.navs-head-s {
  font-size: 75%;
}
.navs-menus {
  margin: 0;
  padding: 20px 0;
  list-style-type: none;
}
.navs-menu {
  padding: 0 0 20px 34px;
  font-size: 14px;
  text-indent: -24px;
}
.navs-menu-head {
  font-size: 16px;
}
.navs-menu-area {
  float: left;
  width: 20%;
  text-indent: 0;
}
.navs-menu a {
  text-decoration: none;
  text-indent: 0;
  color: #1abb99;
}
.navs-icon-arrow {
  display: inline-block;
  margin-right: 6px;
  width: 16px;
  height: 16px;
  border: 1px solid #1abb99;
  border-radius: 50% / 50%;
  text-align: center;
  vertical-align: top;
  background-color: #1abb99;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  text-indent: 0;
}
.navs-menus a,
.navs-menus a:hover {
  transition: 0.3s all linear 0s;
}
.navs-menus a:hover {
  color: #2666d0;
  text-decoration: underline;
}
/*
.navs-menus a:hover .navs-icon-arrow {
  border: 1px solid #18449f;
  background-color: #fff;
  color: #18449f;
}
*/
.navs-area {
  box-sizing: border-box;
  max-width:300px;
}
.navs-area .navs-menu {
  padding: 0 6px 20px 34px;
  box-sizing: border-box;
}


.navs-guide {
  margin: 10px;
}
.navs-search {
  margin: 10px;
}
.navs-search-box {
  float: left;
  margin-right: 34px;
  padding: 0 6px;
  width: 85%;
  height: 34px;
  border: 1px solid #bfbfbf;
  box-sizing: border-box;
  border-radius: 2px 0 0 2px;
  font-size: 16px;
  font-family: inherit;
}
.navs-search-btn {
  float: left;
  display: block;
  margin-left: -34px;
  width: 34px;
  height: 34px;
  border: 1px solid #1abb99;
  border-radius: 0 2px 2px 0;
  text-align: center;
  vertical-align: top;
  box-sizing: border-box;
  background-color: #1abb99;
  color: #fff;
  line-height: 34px;
}
.navs-search-btn .fa {
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  line-height: 1;
}

@media (min-width: 960px) {
  .navs-menu {
    padding: 0 0 10px 34px;
    font-size: 12px;
  }
  .navs-menu a {
    font-size: 14px;
  }
  .navs-area .navs-menu {
    padding: 0 6px 10px 34px;
  }
}