@charset "utf-8";
.mainAtclList__head {
  margin-bottom: 25px;
  padding: 12px;
  background: #1abb99;
  color: #fff;
  font-size: 18px;
}
.atclListWrap {
  margin-bottom: 50px;
  overflow: hidden;
}
.atclList {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: -20px;
}
.atclList > li {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  max-width: 50%;
  padding: 20px;
  border-left: solid 1px #ddd;
  border-top: solid 1px #ddd;
  box-sizing: border-box;
}
.atclInfo {
  width: 100%;
}
.atclInfo__public {
  position: relative;
  margin-bottom: 10px;
  color: #99a4af;
  font-size: 12px;
}
.atclInfo__public__img {
  overflow: hidden;
  height: 150px;
  margin-bottom: 7px;
}
.atclInfo__public__img img {
  width: 100%;
  height: auto;
}
.atclInfo__public__time {
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 20px;
}
.atclInfo__public__auth {
  height: 20px;
  line-height: 20px;
  text-align: right;
  vertical-align: middle;
}
.atclInfo__public__auth > img {
  display: inline-block;
  width: auto;
  height: 100%;
  margin-right: 5px;
  vertical-align: top;
}
.atclInfo__text {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.4;
}
.atclInfo__tagsWrap {
  overflow: hidden;
}
.atclInfo__tags {
  margin-left: -10px;
  margin-top: -10px;
}
.atclInfo__tags > li {
  display: inline-block;
  height: 20px;
  margin-left: 10px;
  margin-top: 10px;
  padding: 0 10px;
  background: #1abb99;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
}
.atclInfo__tags > li > a:hover {
  color: #fff;
}
