.m-button {
  line-height: 1.5;
  padding: 10px 20px;
  color: #fff;
  border-radius: 2px;
  text-shadow: 0 0 4px rgba(0, 0, 0, .4);
  text-align: center;
  display: block;

  &:hover {
    text-decoration: none;
  }

  &.m-button--default {
    background: nth($color, 2);
    border-bottom: 2px solid #88b558;
    &:hover {
      background: #88b558;
      border-color: #739949;
    }
  }

  &.m-button--primary {
    background-color: #F6AC00;
    
    &:hover {
      background-color: transparentize(#F6AC00, .3);
    }
  }

  &.m-button--negative {
    background: nth($monochrome, 2);
    border-bottom: 2px solid #858f99;
    &:hover {
      background: #858f99;
      border-color: #707880;
    }
  }

  &.is-disable {
    background: nth($monochrome, 2);
    border-bottom: 2px solid #858f99;
  }

  &.m-button--card {
    text-shadow: none;
    color: #333;
    font-size: 20px;
    font-weight: normal;
    display: block;
    border: 1px solid #ccc;
    padding: 20px 10px;
    > * {
      vertical-align: middle;
      margin-right: 5px;
      &:last-child {
        margin-right: 0;
      }
    }

    &:hover {
      background: #eee;
    }
  }
  &.m-button--facebook{
    background: #4060a0;
    border-bottom: 2px solid #334d80;
    &:hover{
      background: #334d80;
      border-color: #293d64;
    }
  }

  &.m-button--googleplus{
    background: #dd4b39;
    border-bottom: 2px solid #bb3f30;
    &:hover{
      background: #bb3f30;
      border-color: #a13629;
    }
  }
}
