.m-button {
  line-height: 1.5;
  padding: 10px 20px;
  color: #FFF;
  border-radius: 4px;
  text-align: center;
  display: block;

  &:hover {
    text-decoration: none;
    opacity: 0.8;
  }

  &.m-button--default {
    background-color: #649E00;
  }

  &.m-button--primary {
    background-color: #F6AC00;
  }

  &.m-button--negative {
    background: #999999;
  }

  &.is-disable {
    background: nth($monochrome, 2);
    border-bottom: 2px solid #858f99;
  }

  &.m-button--card {
    text-shadow: none;
    color: #333;
    font-size: 20px;
    font-weight: normal;
    display: block;
    border: 1px solid #ccc;
    padding: 20px 10px;
    > * {
      vertical-align: middle;
      margin-right: 5px;
      &:last-child {
        margin-right: 0;
      }
    }

    &:hover {
      background: #eee;
    }
  }
  &.m-button--facebook{
    background: #4060a0;
    border-bottom: 2px solid #334d80;
    &:hover{
      background: #334d80;
      border-color: #293d64;
    }
  }

  &.m-button--googleplus{
    background: #dd4b39;
    border-bottom: 2px solid #bb3f30;
    &:hover{
      background: #bb3f30;
      border-color: #a13629;
    }
  }
}

.main-button {
  border-radius: 4px;
  height: 44px;
  line-height: 44px;
  background-color: $green;
  color: #FFF;
  text-align: center;
  font-size: 13px;
  display: inline-block;

  &:hover {
    text-decoration: none;
    opacity: 0.8;
  }
}

.sub-button {
  border-radius: 4px;
  height: 44px;
  line-height: 44px;
  background-color: $orange;
  color: #FFF;
  text-align: center;
  font-size: 13px;
  display: inline-block;

  &:hover {
    text-decoration: none;
    opacity: 0.8;
  }
}
