input[type=text],
input[type=password] {
  &.is-error {
    background: #fee9e4;
  }
}

.m-inputGroup {
  > * {
    display: inline-block;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}

input[type=text] {
  padding: 10px 10px;
  border: 1px solid #CCC;
}

.select-sub {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../images/arrow-select-sub.png) no-repeat right 10px center #FFF;
  padding: 10px 45px 10px 15px;
  border-radius: 0;
  border: 1px solid #ccc;
  outline: none;
  font-size: 100%;
  cursor: pointer;

  border-radius: 5px;
}

.select {
  border-radius: 5px;
}
