.m-list {

  &.m-list--ordered {
    list-style-type: decimal;
    list-style-position: inside;
    padding-left: 1em;
    text-indent: -1em;

    > li {
      margin-top: 5px;
    }
  }

  &.m-list--unordered {
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 1em;
    text-indent: -1em;

    > li {
      margin-top: 5px;
    }
  }

  &.m-list--article {
    border-bottom: 1px solid #ccc;
    a {
      display: block;
      padding: 20px 10px;
      border-top: 1px solid #ccc;
    }
  }
}

