.pagination {
  text-align: center;

  ul, ol, li {
    display: inline-block;
  }

  ol {
    margin: 0 30px;
  }

  li {
    margin: 0 5px;
    border: 1px solid $orange;
    background-color: $orange;
    color: #FFF;

    &.active {
      padding: 10px;
      border: 1px solid #F6AC00;
    }

    a {
      display: block;
      width: 100%;
      // border: 1px solid $orange;
      background-color: #FFF;
      color: $orange;
      padding: 10px;

      &:hover {
        text-decoration: none;
        background-color: #F5F5F5;
      }
    }

    &.disabled {
      background-color: transparent;
      color: $orange;
      border: 0px;
    }
  }
}
