.fz-s {
}

.fz-m {
}

.fz-l {
}

.fz-xl {
}

.m-heading {
  font-weight: bold;

  &.m-heading--h1 {
    font-size: 32px;
  }

  &.m-heading--h2 {
    font-size: 20px;
  }

  &.m-heading--h3 {
    font-size: 16px;
    color: nth($color, 1);
  }
}


.m-text {
  &.m-text--bold {
    font-weight: bold;
  }

  &.m-text--sub {
    color: nth($monochrome, 2);
  }

  &.m-text--primary {
    color: nth($color, 1);
  }

  &.m-text--error {
    color: #fe6e4c;
  }

  &.m-text--small {
    font-size: 12px;
  }

  &.m-text--rtl {
    text-align: right;
  }

  &.m-text--rtc {
    text-align: center;
  }
}
