@import "../_mixins";

$gutter: 3.5%;

@mixin makeCol($n) {
  width: (100% / (12 / $n)) - ($gutter * (12 - $n) / 12);
}

.l-row {
  @include clearfix();
  @for $i from 1 through 12 {
    > .col-#{$i} {
      float: left;
      @include makeCol($i);
      margin-right: $gutter;
      &:last-child {
        margin-right: 0%;
      }

      &--rtl {
        float: right;
        @include makeCol($i);
        margin-left: $gutter;
        &:first-child {
          margin-left: 0%;
        }
      }
    }
  }

  .col-12 {
    width: 100%;
  }

  &.l-row--s {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  &.l-row--xs {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
  }

}

.l-float > * {
  float: left;
}

.l-inline > * { 
  display: inline-block;
  vertical-align: top;
}

.l-stacked > * {
  display: block;
}

.l-group {
  > * {
    margin-top: 25px;
  }
  &.l-group--xs {
    > * {
      margin-top: 10px;
    }
  }
  &.l-group--s {
    > * {
      margin-top: 15px;
    }
  }
  &.l-group--l {
    > * {
      margin-top: 50px;
    }
  }
  &.l-group--xl {
    > * {
      margin-top: 75px;
    }
  }
}

.l-box {
  padding: 15px;
  &.xs {
    padding: 5px;
  }
  &.s {
    padding: 10px;
  }
  &.l {
    padding: 20px;
  }
  &.xl {
    padding: 25px;
  }
}

.l-stage {
  @include viewport();
}

