.m-message {
  padding: 15px;
  border-radius: 4px;
  color: #fff;
  
  &+ * {
    margin-top: 15px;
  }

  &.m-message--success {
    background: nth($color, 2);
  }

  &.m-message--error {
    background: #fe6e4c;
  }
}

