.m-table {

  th,td {
    padding: 10px;
    border: 1px solid #ccc;
  }
  th {
    width: 25%;
    background-color: #f2f2f2;
  }
  td {
    width: 75%;
  }
  .stealth {
    background-color: #fff;
    border: none;
  }
  .label--primary {
    background-color: nth($color, 1);
    color: #fff;
    font-weight: bold;
  }
  .label--secondary {
    background-color: nth($color, 2);
    color: #fff;
    font-weight: bold;
  }
  .label--tertiary {
    background-color: nth($monochrome, 2);
    color: #fff;
    font-weight: bold;
  }
}
