.globalHeader {
  border-bottom: 1px solid #ccc;

  .header-list-area {
    position: absolute;
    right: 30px;
    top: 22px;
  }

  &__sub {
    color: #000;
    font-size: 12px;

    > div {
      padding: 15px 30px;

      @include sp() {
        padding: 10px 30px;
      };
    }

    p {
      float: left;
    }

    ul {
      float: right;
      margin-top: 7px;
    }

    li {
      float: left;
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
    }

    img {
      height: 30px;
      width: auto;
      display: inline-block;
    }

  }

  &__main {
    > div {
      @include viewport();
      padding: 30px 20px 0;
    }

    .logo {
      float: left;
      margin-right: 80px;
    }

    .nav {
      font-size: 16px;
      float: left;
      li {
        margin-right: 35px;
        padding: 5px 0 30px 0;
        margin-right: 20px;
        float: left;
        &.is-active {
          border-bottom: 4px solid nth($color, 1);
        }
      }

      a {
        &:hover {
          text-decoration: none;
          color: nth($color, 1);
        }
      }
    }

    .signin {
      float: right;

      li {
        margin-right: 20px;
        float: left;
        &:last-child {
          margin-right: 0;
        }
      }
    }

    .user {
      float: right;
      display: table;
      position: relative;

      .user__profile {
        font-size: 16px;

        li {
          display: table-cell;
          vertical-align: middle;
          padding-right: 20px;
          &.user__profile__avatar {
            width: 60px;
          }
          &:last-child {
            padding-right: 0;
          }
        }

        a {
          &:hover {
            text-decoration: none;
            color: nth($color, 1);
          }
        }

        i {
          margin-left: 20px;
        }

        img {
          border-radius: 20px;
          border: 1px solid nth($monochrome, 2);
        }
      }

      .user__nav {
        position: absolute;
        right: 0;
        top: 50px;
        width: 200px;
        background: #fff;
        z-index: 10;
        border: 1px solid #ccc;
        display: none;

        li {
          a {
            display: block;
            padding: 10px;
            border-top: 1px solid #ccc;
            &:hover {
              background: nth($color, 2);
              color: #fff;
              text-decoration: none;
            }
          }

          &:first-child {
            a {
              border-top: none;
            }
          }
        }
      }
    }
  }
}


@include sp() {
.globalHeader {
  .globalHeader__sub {
    position: relative;
    height: 50px;

    img {

    }
  }

  .header-menu-button,
  .header-menu-close-button {
    position: absolute;
    top: 10px;
    right: 20px;
  }

  .header-menu-button {
    img {
      width: 90px;
    }
  }

  .header-menu-close-button {
    img {
      width: 76px;
    }
  }

  // MODAL
  .jsc-modal-content {
    z-index: 2;
    display: none;
    color: #000000;
    background-color: #FFFFFF;
    position: fixed;
    height: 560px;
    width: 100%;
    top: 50px;
    left: 0px;

    form {
      padding: 10px;
    }
  }

  .jsc-modal-overlay{
  	z-index:1;
  	display:none;
  	position:fixed;
  	top:0;
  	left:0;
  	width:100%;
  	height:120%;
  }

  .button-modal {
    width: 300px!important;
    margin: 20px auto;
  }

  .modal-close {
    margin-top: 16px;
  }

  input[type="text"] {
    appearance: none;
    border: 0px;
    border-radius: 0;
    width: 100%;
    border-bottom: 1px solid #7F7F7F;
    height: 28px;
    line-height: 28px;
  }

  .header-menu-place, .header-menu-syokusyu {
    border-radius: 5px;
    width: calc(50% - 5px);
    display: inline-block;
    margin-top: 10px;
  }

  .header-menu-syokusyu {
    margin-left: 6px;
  }

  .header-menu-gyosyu {
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
  }

  .m-button {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    font-size: 14px;
  }

  .header-menu-login-area {
    padding: 10px;

    .main-button {
      width: calc(50% - 7px);

      + .main-button {
        margin-left: 10px;
      }
    }
  }

  .header-menu-list-area {

    li {
      display: block;
      width: 100%;
      background-color: $green;
      border-bottom: 1px solid #CDE0AE;
      text-align: center;
      a {
        display: block;
        width: 100%;
        color: #FFF;
        font-size: 18px;
        height: 62px;
        line-height: 62px;
        :hover {
          text-decoration: none;
        }
      }
    }
  }





}
};
