/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$arrow-down-name: 'arrow-down';
$arrow-down-x: 348px;
$arrow-down-y: 48px;
$arrow-down-offset-x: -348px;
$arrow-down-offset-y: -48px;
$arrow-down-width: 12px;
$arrow-down-height: 7px;
$arrow-down-total-width: 360px;
$arrow-down-total-height: 185px;
$arrow-down-image: '/images/sprite.png';
$arrow-down: (348px, 48px, -348px, -48px, 12px, 7px, 360px, 185px, '/images/sprite.png', 'arrow-down', );
$arrow-right-name: 'arrow-right';
$arrow-right-x: 348px;
$arrow-right-y: 32px;
$arrow-right-offset-x: -348px;
$arrow-right-offset-y: -32px;
$arrow-right-width: 7px;
$arrow-right-height: 12px;
$arrow-right-total-width: 360px;
$arrow-right-total-height: 185px;
$arrow-right-image: '/images/sprite.png';
$arrow-right: (348px, 32px, -348px, -32px, 7px, 12px, 360px, 185px, '/images/sprite.png', 'arrow-right', );
$book-name: 'book';
$book-x: 0px;
$book-y: 0px;
$book-offset-x: 0px;
$book-offset-y: 0px;
$book-width: 117px;
$book-height: 101px;
$book-total-width: 360px;
$book-total-height: 185px;
$book-image: '/images/sprite.png';
$book: (0px, 0px, 0px, 0px, 117px, 101px, 360px, 185px, '/images/sprite.png', 'book', );
$documents-name: 'documents';
$documents-x: 0px;
$documents-y: 105px;
$documents-offset-x: 0px;
$documents-offset-y: -105px;
$documents-width: 80px;
$documents-height: 80px;
$documents-total-width: 360px;
$documents-total-height: 185px;
$documents-image: '/images/sprite.png';
$documents: (0px, 105px, 0px, -105px, 80px, 80px, 360px, 185px, '/images/sprite.png', 'documents', );
$edit-name: 'edit';
$edit-x: 169px;
$edit-y: 77px;
$edit-offset-x: -169px;
$edit-offset-y: -77px;
$edit-width: 17px;
$edit-height: 16px;
$edit-total-width: 360px;
$edit-total-height: 185px;
$edit-image: '/images/sprite.png';
$edit: (169px, 77px, -169px, -77px, 17px, 16px, 360px, 185px, '/images/sprite.png', 'edit', );
$free-name: 'free';
$free-x: 121px;
$free-y: 32px;
$free-offset-x: -121px;
$free-offset-y: -32px;
$free-width: 71px;
$free-height: 41px;
$free-total-width: 360px;
$free-total-height: 185px;
$free-image: '/images/sprite.png';
$free: (121px, 32px, -121px, -32px, 71px, 41px, 360px, 185px, '/images/sprite.png', 'free', );
$logo-name: 'logo';
$logo-x: 121px;
$logo-y: 0px;
$logo-offset-x: -121px;
$logo-offset-y: 0px;
$logo-width: 239px;
$logo-height: 28px;
$logo-total-width: 360px;
$logo-total-height: 185px;
$logo-image: '/images/sprite.png';
$logo: (121px, 0px, -121px, 0px, 239px, 28px, 360px, 185px, '/images/sprite.png', 'logo', );
$minus-name: 'minus';
$minus-x: 145px;
$minus-y: 77px;
$minus-offset-x: -145px;
$minus-offset-y: -77px;
$minus-width: 20px;
$minus-height: 20px;
$minus-total-width: 360px;
$minus-total-height: 185px;
$minus-image: '/images/sprite.png';
$minus: (145px, 77px, -145px, -77px, 20px, 20px, 360px, 185px, '/images/sprite.png', 'minus', );
$next-unit-name: 'next-unit';
$next-unit-x: 236px;
$next-unit-y: 32px;
$next-unit-offset-x: -236px;
$next-unit-offset-y: -32px;
$next-unit-width: 24px;
$next-unit-height: 24px;
$next-unit-total-width: 360px;
$next-unit-total-height: 185px;
$next-unit-image: '/images/sprite.png';
$next-unit: (236px, 32px, -236px, -32px, 24px, 24px, 360px, 185px, '/images/sprite.png', 'next-unit', );
$next-name: 'next';
$next-x: 320px;
$next-y: 32px;
$next-offset-x: -320px;
$next-offset-y: -32px;
$next-width: 24px;
$next-height: 24px;
$next-total-width: 360px;
$next-total-height: 185px;
$next-image: '/images/sprite.png';
$next: (320px, 32px, -320px, -32px, 24px, 24px, 360px, 185px, '/images/sprite.png', 'next', );
$plus-name: 'plus';
$plus-x: 121px;
$plus-y: 77px;
$plus-offset-x: -121px;
$plus-offset-y: -77px;
$plus-width: 20px;
$plus-height: 20px;
$plus-total-width: 360px;
$plus-total-height: 185px;
$plus-image: '/images/sprite.png';
$plus: (121px, 77px, -121px, -77px, 20px, 20px, 360px, 185px, '/images/sprite.png', 'plus', );
$prev-unit-name: 'prev-unit';
$prev-unit-x: 292px;
$prev-unit-y: 32px;
$prev-unit-offset-x: -292px;
$prev-unit-offset-y: -32px;
$prev-unit-width: 24px;
$prev-unit-height: 24px;
$prev-unit-total-width: 360px;
$prev-unit-total-height: 185px;
$prev-unit-image: '/images/sprite.png';
$prev-unit: (292px, 32px, -292px, -32px, 24px, 24px, 360px, 185px, '/images/sprite.png', 'prev-unit', );
$prev-name: 'prev';
$prev-x: 264px;
$prev-y: 32px;
$prev-offset-x: -264px;
$prev-offset-y: -32px;
$prev-width: 24px;
$prev-height: 24px;
$prev-total-width: 360px;
$prev-total-height: 185px;
$prev-image: '/images/sprite.png';
$prev: (264px, 32px, -264px, -32px, 24px, 24px, 360px, 185px, '/images/sprite.png', 'prev', );
$search-name: 'search';
$search-x: 196px;
$search-y: 32px;
$search-offset-x: -196px;
$search-offset-y: -32px;
$search-width: 36px;
$search-height: 35px;
$search-total-width: 360px;
$search-total-height: 185px;
$search-image: '/images/sprite.png';
$search: (196px, 32px, -196px, -32px, 36px, 35px, 360px, 185px, '/images/sprite.png', 'search', );
$secret-name: 'secret';
$secret-x: 166px;
$secret-y: 105px;
$secret-offset-x: -166px;
$secret-offset-y: -105px;
$secret-width: 14px;
$secret-height: 18px;
$secret-total-width: 360px;
$secret-total-height: 185px;
$secret-image: '/images/sprite.png';
$secret: (166px, 105px, -166px, -105px, 14px, 18px, 360px, 185px, '/images/sprite.png', 'secret', );
$user-name: 'user';
$user-x: 84px;
$user-y: 105px;
$user-offset-x: -84px;
$user-offset-y: -105px;
$user-width: 78px;
$user-height: 78px;
$user-total-width: 360px;
$user-total-height: 185px;
$user-image: '/images/sprite.png';
$user: (84px, 105px, -84px, -105px, 78px, 78px, 360px, 185px, '/images/sprite.png', 'user', );
$spritesheet-width: 360px;
$spritesheet-height: 185px;
$spritesheet-image: '/images/sprite.png';
$spritesheet-sprites: ($arrow-down, $arrow-right, $book, $documents, $edit, $free, $logo, $minus, $next-unit, $next, $plus, $prev-unit, $prev, $search, $secret, $user, );
$spritesheet: (360px, 185px, '/images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
