@charset "UTF-8";
/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  line-height: 1;
  color: #000;
  background: #fff;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

a img {
  border: none;
}

/* 
 * extended style of the nib/global-reset
 */
table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

a {
  text-decoration: none;
  color: #33373b;
}

a:hover {
  text-decoration: underline;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:first-child {
  margin-top: 0 !important;
}

img {
  vertical-align: top;
  width: 100%;
}

hr {
  padding: 0;
  margin: 0;
  border: none;
  border-top: 1px solid #ddd;
}

input[type=text],
input[type=password],
input[type=submit] {
  display: inline-block;
  width: 100%;
  font-size: 100%;
  border-radius: 3px;
}

input[type=text],
input[type=password] {
  padding: 5px 10px;
  border: 1px solid #ccc;
}

input[type=submit] {
  border: none;
  cursor: pointer;
  outline: none;
}

select {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../images/arrow-select.png) no-repeat right center #FFF;
  padding: 10px 55px 10px 15px;
  border-radius: 0;
  border: 1px solid #ccc;
  outline: none;
  font-size: 100%;
  cursor: pointer;
}

textarea {
  font-size: 100%;
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  min-height: 8em;
}

.l-row:before, .l-row:after {
  content: "";
  display: table;
}

.l-row:after {
  clear: both;
}

.l-row > .col-1 {
  float: left;
  width: 5.125%;
  margin-right: 3.5%;
}

.l-row > .col-1:last-child {
  margin-right: 0%;
}

.l-row > .col-1--rtl {
  float: right;
  width: 5.125%;
  margin-left: 3.5%;
}

.l-row > .col-1--rtl:first-child {
  margin-left: 0%;
}

.l-row > .col-2 {
  float: left;
  width: 13.75%;
  margin-right: 3.5%;
}

.l-row > .col-2:last-child {
  margin-right: 0%;
}

.l-row > .col-2--rtl {
  float: right;
  width: 13.75%;
  margin-left: 3.5%;
}

.l-row > .col-2--rtl:first-child {
  margin-left: 0%;
}

.l-row > .col-3 {
  float: left;
  width: 22.375%;
  margin-right: 3.5%;
}

.l-row > .col-3:last-child {
  margin-right: 0%;
}

.l-row > .col-3--rtl {
  float: right;
  width: 22.375%;
  margin-left: 3.5%;
}

.l-row > .col-3--rtl:first-child {
  margin-left: 0%;
}

.l-row > .col-4 {
  float: left;
  width: 31%;
  margin-right: 3.5%;
}

.l-row > .col-4:last-child {
  margin-right: 0%;
}

.l-row > .col-4--rtl {
  float: right;
  width: 31%;
  margin-left: 3.5%;
}

.l-row > .col-4--rtl:first-child {
  margin-left: 0%;
}

.l-row > .col-5 {
  float: left;
  width: 39.625%;
  margin-right: 3.5%;
}

.l-row > .col-5:last-child {
  margin-right: 0%;
}

.l-row > .col-5--rtl {
  float: right;
  width: 39.625%;
  margin-left: 3.5%;
}

.l-row > .col-5--rtl:first-child {
  margin-left: 0%;
}

.l-row > .col-6 {
  float: left;
  width: 48.25%;
  margin-right: 3.5%;
}

.l-row > .col-6:last-child {
  margin-right: 0%;
}

.l-row > .col-6--rtl {
  float: right;
  width: 48.25%;
  margin-left: 3.5%;
}

.l-row > .col-6--rtl:first-child {
  margin-left: 0%;
}

.l-row > .col-7 {
  float: left;
  width: 56.875%;
  margin-right: 3.5%;
}

.l-row > .col-7:last-child {
  margin-right: 0%;
}

.l-row > .col-7--rtl {
  float: right;
  width: 56.875%;
  margin-left: 3.5%;
}

.l-row > .col-7--rtl:first-child {
  margin-left: 0%;
}

.l-row > .col-8 {
  float: left;
  width: 65.5%;
  margin-right: 3.5%;
}

.l-row > .col-8:last-child {
  margin-right: 0%;
}

.l-row > .col-8--rtl {
  float: right;
  width: 65.5%;
  margin-left: 3.5%;
}

.l-row > .col-8--rtl:first-child {
  margin-left: 0%;
}

.l-row > .col-9 {
  float: left;
  width: 74.125%;
  margin-right: 3.5%;
}

.l-row > .col-9:last-child {
  margin-right: 0%;
}

.l-row > .col-9--rtl {
  float: right;
  width: 74.125%;
  margin-left: 3.5%;
}

.l-row > .col-9--rtl:first-child {
  margin-left: 0%;
}

.l-row > .col-10 {
  float: left;
  width: 82.75%;
  margin-right: 3.5%;
}

.l-row > .col-10:last-child {
  margin-right: 0%;
}

.l-row > .col-10--rtl {
  float: right;
  width: 82.75%;
  margin-left: 3.5%;
}

.l-row > .col-10--rtl:first-child {
  margin-left: 0%;
}

.l-row > .col-11 {
  float: left;
  width: 91.375%;
  margin-right: 3.5%;
}

.l-row > .col-11:last-child {
  margin-right: 0%;
}

.l-row > .col-11--rtl {
  float: right;
  width: 91.375%;
  margin-left: 3.5%;
}

.l-row > .col-11--rtl:first-child {
  margin-left: 0%;
}

.l-row > .col-12 {
  float: left;
  width: 100%;
  margin-right: 3.5%;
}

.l-row > .col-12:last-child {
  margin-right: 0%;
}

.l-row > .col-12--rtl {
  float: right;
  width: 100%;
  margin-left: 3.5%;
}

.l-row > .col-12--rtl:first-child {
  margin-left: 0%;
}

.l-row .col-12 {
  width: 100%;
}

.l-row.l-row--s {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.l-row.l-row--xs {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

.l-float > * {
  float: left;
}

.l-inline > * {
  display: inline-block;
  vertical-align: top;
}

.l-stacked > * {
  display: block;
}

.l-group > * {
  margin-top: 25px;
}

.l-group.l-group--xs > * {
  margin-top: 10px;
}

.l-group.l-group--s > * {
  margin-top: 15px;
}

.l-group.l-group--l > * {
  margin-top: 50px;
}

.l-group.l-group--xl > * {
  margin-top: 75px;
}

.l-box {
  padding: 15px;
}

.l-box.xs {
  padding: 5px;
}

.l-box.s {
  padding: 10px;
}

.l-box.l {
  padding: 20px;
}

.l-box.xl {
  padding: 25px;
}

.l-stage {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
  min-width: 1200px;
}

.globalViewport {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.globalMain {
  margin-top: 25px !important;
}

.globalMain.globalMain--hook {
  margin-top: 0 !important;
}

.globalMain.globalMain--narrow {
  width: 800px;
  margin: 0 auto;
}

.globalSide {
  margin-top: 25px !important;
}

.globalSide.globalSide--separator {
  margin-top: 0 !important;
}

.breadcrumbs {
  font-size: 12px;
  padding: 15px 0;
}

.breadcrumbs a {
  color: #1abb99;
  text-decoration: underline;
}

.breadcrumbs > * {
  margin-right: 5px;
}

.profileCard {
  padding: 30px 15px;
}

.profileCard__avatar {
  display: inline-block;
  width: 200px;
  border-radius: 100px;
  overflow: hidden;
  border: 1px solid #e0e0e0;
}

.localNav ul {
  border-bottom: 1px solid #ccc;
}

.localNav li a {
  display: block;
  padding: 10px 15px;
  border-top: 1px solid #ccc;
  text-decoration: none;
}

.localNav li a:hover {
  color: #1abb99;
}

.localNav li.is-active a {
  background: #9ed366;
  color: #fff;
}

.globalHeader {
  border-bottom: 1px solid #ccc;
}

.globalHeader__sub {
  color: #000;
  font-size: 12px;
}

.globalHeader__sub > div {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 30px;
}

.globalHeader__sub p {
  float: left;
}

.globalHeader__sub ul {
  float: right;
  margin-top: 7px;
}

.globalHeader__sub li {
  float: left;
  margin-right: 30px;
}

.globalHeader__sub li:last-child {
  margin-right: 0;
}

.globalHeader__sub img {
  height: 30px;
  width: auto;
  display: inline-block;
}

.globalHeader__main > div {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 20px 0;
}

.globalHeader__main .logo {
  float: left;
  margin-right: 80px;
}

.globalHeader__main .nav {
  font-size: 16px;
  float: left;
}

.globalHeader__main .nav li {
  margin-right: 35px;
  padding: 5px 0 30px 0;
  margin-right: 20px;
  float: left;
}

.globalHeader__main .nav li.is-active {
  border-bottom: 4px solid #1abb99;
}

.globalHeader__main .nav a:hover {
  text-decoration: none;
  color: #1abb99;
}

.globalHeader__main .signin {
  float: right;
}

.globalHeader__main .signin li {
  margin-right: 20px;
  float: left;
}

.globalHeader__main .signin li:last-child {
  margin-right: 0;
}

.globalHeader__main .user {
  float: right;
  display: table;
  position: relative;
}

.globalHeader__main .user .user__profile {
  font-size: 16px;
}

.globalHeader__main .user .user__profile li {
  display: table-cell;
  vertical-align: middle;
  padding-right: 20px;
}

.globalHeader__main .user .user__profile li.user__profile__avatar {
  width: 60px;
}

.globalHeader__main .user .user__profile li:last-child {
  padding-right: 0;
}

.globalHeader__main .user .user__profile a:hover {
  text-decoration: none;
  color: #1abb99;
}

.globalHeader__main .user .user__profile i {
  margin-left: 20px;
}

.globalHeader__main .user .user__profile img {
  border-radius: 20px;
  border: 1px solid #99a4af;
}

.globalHeader__main .user .user__nav {
  position: absolute;
  right: 0;
  top: 50px;
  width: 200px;
  background: #fff;
  z-index: 10;
  border: 1px solid #ccc;
  display: none;
}

.globalHeader__main .user .user__nav li a {
  display: block;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.globalHeader__main .user .user__nav li a:hover {
  background: #9ed366;
  color: #fff;
  text-decoration: none;
}

.globalHeader__main .user .user__nav li:first-child a {
  border-top: none;
}

.globalFooter > div {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.globalFooter .copyright {
  float: right;
}

.globalFooter .soudan {
  display: block;
}

.globalFooter .footer-banner {
  width: 1000px;
  margin: 40px auto 40px;
}

.globalFooter .footer-banner img + img {
  margin-left: 6%;
}

.globalFooter .footer-banner img {
  width: 46%;
  display: inline-block;
}

.globalFooter .footer-links {
  background-color: #649E00;
  width: 100%;
  height: 54px;
  padding: 30px 0;
  text-align: center;
  padding-bottom: 50px;
}

.globalFooter .footer-links-inner {
  width: 1200px;
  margin: 0 auto;
}

.globalFooter .footer-links-inner li {
  display: inline-block;
}

.globalFooter .footer-links-inner li + li {
  margin-left: 40px;
}

.globalFooter .footer-links-inner li a {
  color: white;
  font-weight: normal;
}

.globalFooter .footer-info {
  height: 82px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.globalFooter .footer-info img {
  width: 156px;
  height: auto;
}

.globalFooter .footer-info-company {
  font-size: 10px;
  color: #555555;
  display: inline-block;
  margin-top: 4px;
}

.globalFooter .footer-info-logo {
  margin-right: 20px;
  margin-top: 4px;
}

.globalFooter .footer-button-area {
  float: right;
}

.globalFooter .footer-button {
  line-height: 20px;
  height: 30px;
  color: #F6AC00;
  border-radius: 5px;
  display: inline-block;
  border: 1px solid #F6AC00;
  padding: 4px 10px;
}

.globalFooter .small {
  font-size: 9px;
  color: #555555;
  margin-top: 4px;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.m-button {
  line-height: 1.5;
  padding: 10px 20px;
  color: #fff;
  border-radius: 2px;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  text-align: center;
  display: block;
}

.m-button:hover {
  text-decoration: none;
}

.m-button.m-button--default {
  background: #9ed366;
  border-bottom: 2px solid #88b558;
}

.m-button.m-button--default:hover {
  background: #88b558;
  border-color: #739949;
}

.m-button.m-button--primary {
  background-color: #F6AC00;
}

.m-button.m-button--primary:hover {
  background-color: rgba(246, 172, 0, 0.7);
}

.m-button.m-button--negative {
  background: #99a4af;
  border-bottom: 2px solid #858f99;
}

.m-button.m-button--negative:hover {
  background: #858f99;
  border-color: #707880;
}

.m-button.is-disable {
  background: #99a4af;
  border-bottom: 2px solid #858f99;
}

.m-button.m-button--card {
  text-shadow: none;
  color: #333;
  font-size: 20px;
  font-weight: normal;
  display: block;
  border: 1px solid #ccc;
  padding: 20px 10px;
}

.m-button.m-button--card > * {
  vertical-align: middle;
  margin-right: 5px;
}

.m-button.m-button--card > *:last-child {
  margin-right: 0;
}

.m-button.m-button--card:hover {
  background: #eee;
}

.m-button.m-button--facebook {
  background: #4060a0;
  border-bottom: 2px solid #334d80;
}

.m-button.m-button--facebook:hover {
  background: #334d80;
  border-color: #293d64;
}

.m-button.m-button--googleplus {
  background: #dd4b39;
  border-bottom: 2px solid #bb3f30;
}

.m-button.m-button--googleplus:hover {
  background: #bb3f30;
  border-color: #a13629;
}

input[type=text].is-error,
input[type=password].is-error {
  background: #fee9e4;
}

.m-inputGroup > * {
  display: inline-block;
  margin-right: 10px;
}

.m-inputGroup > *:last-child {
  margin-right: 0;
}

.m-table {
  text-indent: 0;
}

.m-table th, .m-table td {
  border: 1px solid #ccc;
  padding: 15px;
}

.m-table th {
  background: #f2f2f2;
  width: 25%;
}

.m-tabs {
  position: relative;
}

.m-tabs .m-tabs__tab {
  font-size: 20px;
}

.m-tabs .m-tabs__tab li {
  width: 180px;
  float: left;
  text-align: center;
}

.m-tabs .m-tabs__tab a {
  display: block;
}

.m-tabs .m-tabs__tab a.is-active {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.m-tabs .m-tabs__tab a.is-active strong {
  border-top: 4px solid #1abb99;
  border-bottom: 1px solid #fff;
}

.m-tabs .m-tabs__tab strong {
  padding: 10px;
  display: block;
  border-top: 4px solid #fff;
}

.m-tabs .m-tabs__body {
  border-top: 1px solid #ccc;
  padding-top: 25px;
  margin-top: -1px;
}

.m-heading {
  font-weight: bold;
}

.m-heading.m-heading--h1 {
  font-size: 32px;
}

.m-heading.m-heading--h2 {
  font-size: 20px;
}

.m-heading.m-heading--h3 {
  font-size: 16px;
  color: #1abb99;
}

.m-text.m-text--bold {
  font-weight: bold;
}

.m-text.m-text--sub {
  color: #99a4af;
}

.m-text.m-text--primary {
  color: #1abb99;
}

.m-text.m-text--error {
  color: #fe6e4c;
}

.m-text.m-text--small {
  font-size: 12px;
}

.m-text.m-text--rtl {
  text-align: right;
}

.m-text.m-text--rtc {
  text-align: center;
}

.icon--plus {
  background-image: url(/images/sprite.png);
  background-position: -121px -77px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  display: inline-block;
  text-indent: -9999px;
}

.icon--plus.icon--text {
  margin-right: 5px;
}

.icon--minus {
  background-image: url(/images/sprite.png);
  background-position: -121px -77px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  display: inline-block;
  text-indent: -9999px;
}

.icon--minus.icon--text {
  margin-right: 5px;
}

.icon--logo {
  background-image: url(/images/sprite.png);
  background-position: -121px 0px;
  width: 239px;
  height: 28px;
  vertical-align: middle;
  display: inline-block;
  text-indent: -9999px;
}

.icon--logo.icon--text {
  margin-right: 5px;
}

.icon--arrowDown {
  background-image: url(/images/sprite.png);
  background-position: -348px -48px;
  width: 12px;
  height: 7px;
  vertical-align: middle;
  display: inline-block;
  text-indent: -9999px;
}

.icon--arrowDown.icon--text {
  margin-right: 5px;
}

.icon--arrowRight {
  background-image: url(/images/sprite.png);
  background-position: -348px -32px;
  width: 7px;
  height: 12px;
  vertical-align: middle;
  display: inline-block;
  text-indent: -9999px;
}

.icon--arrowRight.icon--text {
  margin-right: 5px;
}

.icon--secret {
  background-image: url(/images/sprite.png);
  background-position: -166px -105px;
  width: 14px;
  height: 18px;
  vertical-align: middle;
  display: inline-block;
  text-indent: -9999px;
}

.icon--secret.icon--text {
  margin-right: 5px;
}

.icon--edit {
  background-image: url(/images/sprite.png);
  background-position: -169px -77px;
  width: 17px;
  height: 16px;
  vertical-align: middle;
  display: inline-block;
  text-indent: -9999px;
}

.icon--edit.icon--text {
  margin-right: 5px;
}

.icon--free {
  background-image: url(/images/sprite.png);
  background-position: -121px -32px;
  width: 71px;
  height: 41px;
  vertical-align: middle;
  display: inline-block;
  text-indent: -9999px;
}

.icon--free.icon--text {
  margin-right: 5px;
}

.icon--user {
  background-image: url(/images/sprite.png);
  background-position: -84px -105px;
  width: 78px;
  height: 78px;
  vertical-align: middle;
  display: inline-block;
  text-indent: -9999px;
}

.icon--user.icon--text {
  margin-right: 5px;
}

.icon--documents {
  background-image: url(/images/sprite.png);
  background-position: 0px -105px;
  width: 80px;
  height: 80px;
  vertical-align: middle;
  display: inline-block;
  text-indent: -9999px;
}

.icon--documents.icon--text {
  margin-right: 5px;
}

.icon--book {
  background-image: url(/images/sprite.png);
  background-position: 0px 0px;
  width: 117px;
  height: 101px;
  vertical-align: middle;
  display: inline-block;
  text-indent: -9999px;
}

.icon--book.icon--text {
  margin-right: 5px;
}

.icon--prev {
  background-image: url(/images/sprite.png);
  background-position: -264px -32px;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  display: inline-block;
  text-indent: -9999px;
}

.icon--prev.icon--text {
  margin-right: 5px;
}

.icon--prevUnit {
  background-image: url(/images/sprite.png);
  background-position: -292px -32px;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  display: inline-block;
  text-indent: -9999px;
}

.icon--prevUnit.icon--text {
  margin-right: 5px;
}

.icon--next {
  background-image: url(/images/sprite.png);
  background-position: -320px -32px;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  display: inline-block;
  text-indent: -9999px;
}

.icon--next.icon--text {
  margin-right: 5px;
}

.icon--nextUnit {
  background-image: url(/images/sprite.png);
  background-position: -236px -32px;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  display: inline-block;
  text-indent: -9999px;
}

.icon--nextUnit.icon--text {
  margin-right: 5px;
}

.m-label {
  padding: 5px;
  font-size: 12px;
  display: inline-block;
  text-align: center;
  line-height: 1;
}

.m-label.m-label--primary {
  width: 80px;
  background: #f6bb33;
  border-radius: 1px;
  color: #fff;
}

.m-label.m-label--require {
  padding: 2px 5px;
  background: #fe6e4c;
  color: #fff;
}

.m-label.m-label--status {
  width: 80px;
  background: #fe6e4c;
  border-radius: 1px;
  color: #fff;
}

.m-list.m-list--ordered {
  list-style-type: decimal;
  list-style-position: inside;
  padding-left: 1em;
  text-indent: -1em;
}

.m-list.m-list--ordered > li {
  margin-top: 5px;
}

.m-list.m-list--unordered {
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 1em;
  text-indent: -1em;
}

.m-list.m-list--unordered > li {
  margin-top: 5px;
}

.m-list.m-list--article {
  border-bottom: 1px solid #ccc;
}

.m-list.m-list--article a {
  display: block;
  padding: 20px 10px;
  border-top: 1px solid #ccc;
}

.m-card {
  border: 1px solid #ccc;
  display: block;
}

.m-card__caption {
  padding: 20px;
}

.m-editCard__header > p {
  float: left;
}

.m-editCard__header > a {
  float: right;
  display: block;
  border: 1px solid #ccc;
  padding: 2px 10px;
  text-decoration: none;
}

.m-editCard__header i {
  margin-right: 5px;
}

.m-editCard__body > p {
  padding: 20px;
  border: 1px solid #ccc;
}

.m-message {
  padding: 15px;
  border-radius: 4px;
  color: #fff;
}

.m-message + * {
  margin-top: 15px;
}

.m-message.m-message--success {
  background: #9ed366;
}

.m-message.m-message--error {
  background: #fe6e4c;
}

.clearfix:before, .topSearchForm:before, .clearfix:after, .topSearchForm:after {
  content: "";
  display: table;
}

.clearfix:after, .topSearchForm:after {
  clear: both;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.mtxs {
  margin-top: 10px;
}

.mts {
  margin-top: 15px;
}

.mtm {
  margin-top: 25px;
}

.mtl {
  margin-top: 50px;
}

.mtxl {
  margin-top: 75px;
}

.stage {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.text-bold {
  font-weight: bold;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-bold {
  font-weight: bold;
}

.w100 {
  width: 100%;
}

.w50 {
  width: 50%;
}

.select {
  border-radius: 5px;
}

.select-sub {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../images/arrow-select-sub.png) no-repeat right 10px center #FFF;
  padding: 10px 55px 10px 15px;
  border-radius: 0;
  border: 1px solid #ccc;
  outline: none;
  font-size: 100%;
  cursor: pointer;
  border-radius: 5px;
}

.breadcrumbs {
  background-color: #F0F0F0;
}

.breadcrumbs a {
  color: #333333;
  font-weight: normal;
  text-decoration: none;
}

.breadcrumbs span {
  margin: 0 10px;
}

.breadcrumbs-inner {
  width: 1200px;
  margin: 0 auto;
}

.kibo {
  background-color: #F8F8F8;
  height: 40px;
  border-radius: 5px;
  padding: 10px;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: right 15px center;
}

.slide-area {
  padding: 0 80px;
  position: relative;
  overflow: inherit;
  max-width: 1260px;
  margin: 0 auto;
}

.slide-area .catch-copy {
  position: absolute;
  height: 100px;
  width: auto;
  z-index: 100;
  top: 150px;
}

.slide-area .support {
  width: 450px;
  height: auto;
  float: left;
  margin-top: 24px;
}

.slide-area .form {
  height: 406px;
  margin-bottom: 51px;
  position: relative;
  z-index: 1000;
}

.slide-area .form form {
  background-color: #FFF;
  width: 520px;
  position: absolute;
  top: -60px;
  right: 20px;
  border: 10px solid rgba(0, 0, 0, 0.5);
  padding: 20px 10px;
}

.slide-area .form .or {
  margin: 10px 0;
}

.slide-area .form select {
  width: 100%;
  border-radius: 5px;
}

.slide-area .form p + p {
  margin-top: 15px;
}

.slide-area .form p:last-child {
  margin-top: 25px;
}

.slide-area .form .submit {
  display: block;
  width: 80%;
  margin: 30px auto 0;
}

.career-support {
  overflow: hidden;
}

.career-support .career-support-section {
  height: 265px;
  width: 50%;
  float: left;
  position: relative;
}

.career-support .career-support-section img {
  height: 265px;
}

.career-support .career-support-section:nth-of-type(3) {
  float: right;
}

.career-support .career-support-section:nth-of-type(3) .career-support-section-text {
  position: absolute;
  left: 146px;
  top: 60px;
}

.career-support .career-support-section-text:nth-of-type(1) {
  position: absolute;
  right: 146px;
  top: 60px;
}

.career-support .midashi {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.career-support .support-button {
  margin-top: 40px;
  display: block;
  width: 220px;
  background-color: #649E00;
  border-radius: 4px;
  line-height: 24px;
  height: 24px;
  text-align: center;
  color: white;
}

.jumbotron {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider {
  width: 1200px;
  margin: 0 auto;
}

.slider__caption {
  padding: 60px 3.5% 60px 0;
}

.advancedSearch {
  padding: 20px 25px;
  background: #f5f5f5;
  border: 1px solid #ccc;
}

.advancedSearch.advancedSearch--hook {
  border-top: none;
}

.topSearchForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.linkPanelArea {
  padding: 20px 0;
}

.linkPanel, .linkPanel__job, .linkPanel__area, .linkPanel__biz, .linkPanel__style, .linkPanel__freeword {
  padding: 20px;
  background: #fff;
  border: 1px solid #ccc;
}

.linkPanel__job {
  width: 49.5%;
  margin-bottom: 12px;
  margin-right: 1%;
  float: left;
}

.linkPanel__job .link-sub-area {
  color: #676a6c;
  font-size: 95%;
  margin-bottom: 20px;
}

.linkPanel__area {
  width: 49.5%;
  margin-bottom: 12px;
  float: right;
}

.linkPanel__area .area-link-area {
  margin-bottom: 15px;
}

.linkPanel__area .area-link-area .area-link-sub-area {
  margin-bottom: 13px;
}

.linkPanel__area label {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 9px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.linkPanel__biz {
  clear: both;
  width: 100%;
  margin-bottom: 12px;
}

.linkPanel__biz label {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 6px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.linkPanel__style {
  width: 49.5%;
  height: 176px;
  margin-bottom: 20px;
  margin-right: 1%;
  float: left;
}

.linkPanel__style label {
  display: inline-block;
  margin-right: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.linkPanel__freeword {
  width: 49.5%;
  height: 176px;
  margin-bottom: 20px;
  float: right;
}

.linkPanel .link-area, .linkPanel__job .link-area, .linkPanel__area .link-area, .linkPanel__biz .link-area, .linkPanel__style .link-area, .linkPanel__freeword .link-area {
  margin-bottom: 10px;
}

.linkPanel .link-area .link-sub-area, .linkPanel__job .link-area .link-sub-area, .linkPanel__area .link-area .link-sub-area, .linkPanel__biz .link-area .link-sub-area, .linkPanel__style .link-area .link-sub-area, .linkPanel__freeword .link-area .link-sub-area {
  margin-left: 30px;
}

.linkPanel .title, .linkPanel__job .title, .linkPanel__area .title, .linkPanel__biz .title, .linkPanel__style .title, .linkPanel__freeword .title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.linkPanel .sub-title, .linkPanel__job .sub-title, .linkPanel__area .sub-title, .linkPanel__biz .sub-title, .linkPanel__style .sub-title, .linkPanel__freeword .sub-title {
  font-size: 18px;
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.search-button {
  bottom: 0;
  width: 100%;
  background: #9ed366;
  font-weight: bold;
  line-height: 3;
  display: block;
  color: #fff;
  border-radius: 2px;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  text-align: center;
  border-bottom: 2px solid #88b558;
}

.pickySearch {
  background: #fff;
}

.pickySearch__button {
  display: table;
  border-collapse: collapse;
  width: 100%;
}

.pickySearch__button a {
  width: 25%;
}

.pickySearch__button > * {
  display: table-cell;
  border: 1px solid #ccc;
  padding: 10px 15px;
}

.pickySearch .pickySearch__button__close {
  display: none;
}

.pickySearch.is-active {
  display: block;
}

.pickySearch.is-active .pickySearch__button__open {
  display: none;
}

.pickySearch.is-active .pickySearch__button__close {
  display: block;
}

.pickySearch.is-active .pickySearch__contents {
  display: block;
}

.pickySearch__contents {
  display: none;
  padding: 15px 15px 10px;
  border: 1px solid #ccc;
  border-top: none;
}

.pickySearch__contents label {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 5px 10px;
  margin: 0 5px 10px 0;
  line-height: 1;
  cursor: pointer;
}

.pickySearch__contents label.is-checked {
  background: #1abb99;
  color: #fff;
}

.pickySearch__contents input {
  display: none;
}

.bigBanner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.bigBanner__header {
  position: absolute;
  top: 20px;
  right: 3.5%;
}

.bigBanner__footer {
  position: absolute;
  bottom: 20px;
  right: 0;
  width: 31%;
  padding-right: 3.5%;
}

.httpStatus {
  text-align: center;
}

.httpStatus__code {
  font-size: 120px;
  font-weight: bold;
}

.messageUnit {
  background: url("../images/bg-unit.png") no-repeat top center;
  height: 400px;
  padding: 75px 0;
  color: #fff;
  text-align: center;
}

.messageUnit p {
  font-size: 16px;
}

.featureUnit {
  padding: 50px 0;
}

.featureUnit__icon {
  vertical-align: middle;
  height: 100px;
}

.featureUnit__table th, .featureUnit__table td {
  padding: 15px;
  border: 1px solid #f2f2f2;
}

.featureUnit__table thead th {
  color: #fff;
}

.featureUnit__table thead th:nth-child(2) {
  background: #99a4af;
}

.featureUnit__table thead th:nth-child(3) {
  background: #9ed366;
}

.featureUnit__table thead th:nth-child(4) {
  background: #1abb99;
}

.featureUnit__table tbody th {
  background: #f2f2f2;
}

.cvUnit {
  padding: 50px 0;
  background: #f5f5f5;
}

.pagination {
  text-align: center;
}

.pagination ul, .pagination ol, .pagination li {
  display: inline-block;
}

.pagination ol {
  margin: 0 30px;
}

.pagination li {
  margin: 0 10px;
}

.pagination li a {
  color: #1abb99;
}

.pagination li.disabled a {
  color: #000;
}

.jobCard {
  border: 1px solid #ccc;
}

.jobCard__header {
  background: #99a4af;
  padding: 10px 15px;
  color: #fff;
}

.jobCard__header__heading {
  float: left;
  font-size: 16px;
  font-weight: bold;
}

.jobCard__header__update {
  float: right;
  font-size: 12px;
  margin-top: 4px;
}

.jobCard__company {
  padding: 10px 15px;
}

.jobCard__body {
  padding: 15px;
  border-top: 1px solid #ccc;
}

.jobCard__profile td {
  padding: 10px;
}

.jobCard__profile th {
  width: 100px;
}

.jobCard__profile th span {
  text-align: center;
  display: inline-block;
  width: 100%;
  border-radius: 1px;
  border: 1px solid #99a4af;
  padding: 2px 5px;
  font-size: 12px;
}

.jobCard__profile th, .jobCard__profile td {
  border-top: 1px solid #ccc;
}

.jobCard__profile tr:first-child th, .jobCard__profile tr:first-child td {
  border-top: none;
}

.jobCard__cv {
  background: #fafafa;
  padding: 20px 15px;
  border-top: 1px solid #ccc;
}

.related-jobs, .other-jobs, .interview-articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.related-jobs > div, .other-jobs > div, .interview-articles > div {
  margin: 10px;
  width: 45%;
}

.side-search p {
  margin-top: 15px;
  width: 100%;
}

.side-search select {
  width: 100%;
}

.side-search form {
  padding-left: 10px;
}

.side-search-text {
  width: 147px;
  margin-bottom: 15px;
}

.search-condition {
  margin-top: 15px;
}

.side-banner {
  margin-top: 30px;
}

.main-section {
  margin-top: 50px;
}

.new-job h2 > img {
  width: 160px;
  height: auto;
}

.syokusyu {
  width: 15%;
  text-align: center;
  margin-right: 3%;
}

.syokusyu img {
  width: 90%;
}

.syokusyu-tag {
  color: white;
  font-size: 8px;
  background-color: #649E00;
  border-radius: 4px;
  padding: 4px 8px;
  margin-top: 10px;
}

.naiyou {
  width: 82%;
  float: right;
}

.naiyou-table {
  font-size: 12px;
  margin-top: 10px;
  line-height: 1.6;
}

.naiyou-table th {
  width: 65px;
  vertical-align: top;
  padding: 2px 0;
}

.naiyou-table td {
  vertical-align: top;
  padding: 2px 0;
}

.new-job-list {
  position: relative;
  padding: 10px 0;
  border-bottom: 1px solid #F0F0F0;
}

.new-job-list a:hover {
  text-decoration: none;
}

.table-coron {
  width: 20px;
}

.new-job-list-catch {
  font-size: 14px;
  margin-top: 4px;
  width: 70%;
}

.new-job-list-companyName {
  font-size: 12px;
  color: #999999;
}

.new-job-list-button {
  font-size: 12px;
  background-color: #F6AC00;
  line-height: 34px;
  height: 34px;
  padding: 5px 20px;
  border-radius: 4px;
  color: #FFF;
  position: absolute;
  right: 10px;
  top: 10px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.search-result-page {
  margin-top: 40px !important;
}

.search-result-page .search-result-title {
  display: block;
  border-bottom: 3px solid #649E00;
  font-size: 20px;
}

.detail {
  background-color: #FAFAFA;
}

.detail h3 {
  display: block;
  border-left: 6px solid #649E00;
  padding-left: 10px;
  font-size: 20px;
  font-weight: bold;
}

.detail h3 + * {
  margin-top: 10px;
}

.detail .main-table {
  border-spacing: 00px 10px;
  border-collapse: separate;
}

.detail .main-table th {
  background-color: #649E00;
  color: #FFF;
  border: none;
}

.detail .main-table td {
  border: none;
  background-color: #F0F0F0;
}

.detail .detail-inner {
  padding: 20px;
  background-color: #FFF;
  margin: 20px auto;
}

.detail-title {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 8px;
  border-bottom: 4px solid #649E00;
}

.detail-title img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

.detail-subinfo {
  margin-top: 10px;
}

.detail-subinfo p {
  display: inline-block;
}

.detail-subinfo-name {
  color: #9B9B9B;
}

.detail-subinfo-category {
  color: #649E00;
}

.detail-subinfo-category span {
  background-color: #649E00;
  font-size: 8px;
  color: #FFF;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding: 0px 8px;
}

.detail-description {
  margin-top: 13px;
}

.detail-description p {
  padding: 10px 20px;
  background-color: #F0F0F0;
  border-radius: 4px;
  line-height: 1.5;
  border: 1px solid #EEE;
}

.detail-description h3 + p {
  margin-top: 10px;
}

.detail-youkou {
  margin-top: 20px;
}

.detail-profile {
  margin-top: 20px;
}

.detail-kanren {
  margin-top: 20px;
}

.detail-kanren .syokusyu {
  width: 10%;
}

.detail-kanren .naiyou {
  width: 87%;
}

.detail-kanren .new-job-list {
  padding: 10px 20px;
}

.detail-form {
  padding: 30px 0;
  background-color: #fafafa;
  text-align: center;
  margin-left: -30px;
  margin-right: -30px;
}

.detail-form a.kiyaku {
  color: #375FB1;
  text-decoration: underline;
}

.detail-form p {
  margin-bottom: 10px;
}

.detail-form .m-button--default {
  border-bottom: none;
  background-color: #649E00;
}

.detail-form .m-button--primary {
  width: 220px;
}

.detail-apply {
  padding: 30px 0;
  text-align: center;
}

.detail-apply .detail-apply-title {
  text-align: center;
}

.detail-apply .detail-apply-title img {
  width: 378px;
}

.detail-apply .m-table {
  width: 70%;
  margin: 30px auto 0;
}

.detail-apply .m-table input {
  height: 50px;
}

.detail-apply .m-table th, .detail-apply .m-table td {
  background-color: transparent;
  border: none;
}

.detail-apply .m-table .w100 {
  width: 100%;
}

.detail-apply .m-table input, .detail-apply .m-table select, .detail-apply .m-table textarea {
  border-radius: 5px;
}

.detail-apply .m-table input {
  background-color: #F8F8F8;
}

.detail-apply a.kiyaku {
  color: #375FB1;
  text-decoration: underline;
}

.detail-apply p {
  margin-bottom: 10px;
}

.detail-apply .m-button--default {
  border-bottom: none;
  background-color: #649E00;
}

.detail-apply .m-button--primary {
  width: 220px;
}

/*********************
_agent
*********************/
.agent > a {
  display: block;
}

.agent-merit {
  padding-top: 30px;
  padding-bottom: 30px;
  display: block;
}

.agent-merit h2 {
  margin-bottom: 30px;
  text-align: center;
}

.agent-merit h2 img {
  width: 380px;
}

.agent-merit-image {
  width: 757px;
  margin: 0 auto;
}

/*********************
recruiter
*********************/
.recruiter-feature {
  background-color: #FAFAFA;
  display: block;
}

.recruiter-feature-inner {
  width: 1024px;
  display: block;
  margin: 0 auto;
}

.recruiter-flow {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 30px;
}

.recruiter-flow-inner {
  width: 1024px;
  margin: 0 auto;
}

/*********************
_contact
*********************/
.contact {
  background-color: #F0F0F0;
  border-bottom: 1px solid #DFDFDF;
}

.contact .m-table {
  width: 80%;
  margin: 30px auto 0;
}

.contact .m-table input {
  height: 50px;
}

.contact .m-table th {
  font-weight: bold;
}

.contact .m-table th, .contact .m-table td {
  background-color: transparent;
  border: none;
}

.contact .m-table .w100 {
  width: 100%;
}

.contact .m-table input, .contact .m-table select, .contact .m-table textarea {
  border-radius: 5px;
}

.contact .m-table input, .contact .m-table textarea {
  background-color: #F8F8F8;
}

.contact .m-button--default {
  background-color: #F6AC00;
  border-bottom: none;
}

.contact-form {
  margin-bottom: 30px;
}

.contact-form h2 {
  width: 240px;
  margin: 0 auto;
}

.contact-inner {
  background-color: #FFF;
  padding: 50px 0;
  margin-bottom: 50px !important;
}

.error {
  background-color: #F0F0F0;
}

.error .button {
  display: block;
  color: #FFF;
  background-color: #649E00;
  width: 335px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 4px;
  margin-top: 30px;
  text-align: center;
}

.error h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

.error-inner {
  background-color: #FFF;
  padding: 50px 0;
  margin-bottom: 50px !important;
}

.httpStatus {
  width: 600px;
  margin: 0 auto;
}

.httpStatus img {
  margin-top: 50px;
  width: 335px;
}

/*********************
_login
*********************/
.login {
  background-color: #F0F0F0;
  text-align: center;
}

.login .button {
  display: block;
  color: #FFF;
  background-color: #649E00;
  width: 335px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 4px;
  margin-top: 30px;
  text-align: center;
}

.login h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.login-inner {
  background-color: #FFF;
  padding: 50px 0;
  margin-bottom: 50px !important;
}

.login-form {
  margin-top: 30px;
}

.login-form input {
  display: block;
  width: 340px;
  height: 44px;
  margin: 15px auto;
}

.login-form-sns {
  display: inline-block;
  margin-bottom: 15px;
}

.login-form-sns img {
  width: 45%;
}

.login-forget {
  display: inline-block;
  margin-top: 15px;
  color: #375FB1;
  text-decoration: underline;
}

/*********************
_register
*********************/
.register {
  background-color: #F0F0F0;
  text-align: center;
}

.register .button {
  display: block;
  color: #FFF;
  background-color: #649E00;
  width: 335px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 4px;
  margin-top: 30px;
  text-align: center;
}

.register h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.register-inner {
  background-color: #FFF;
  padding: 50px 0;
  margin-bottom: 50px !important;
}

.register-form {
  width: 340px;
  margin: 30px auto 0;
}

.register-form input {
  display: block;
  width: 340px;
  height: 44px;
  margin: 15px auto;
}

.register-form-sns {
  display: inline-block;
  margin-bottom: 15px;
}

.register-form-sns img {
  width: 49%;
}

.register-form-caution {
  font-size: 10px;
  color: #999999;
  text-align: left;
  margin-top: -10px;
}

.register-form-kiyaku {
  margin-top: 10px;
}

.register-form-kiyaku a {
  color: #375FB1;
  text-decoration: underline;
}

/*********************
_mypage
*********************/
.mypage {
  background-color: #F0F0F0;
  padding: 30px 0;
}

.mypage-header {
  background-color: #649E00;
  color: #FFF;
  display: block;
  height: 40px;
  line-height: 40px;
  padding-left: 15px;
  font-size: 20px;
  position: relative;
}

.mypage-side-profile {
  background-color: #FFF;
  padding: 10px 10px 8px 10px;
}

.mypage-side-profile-table {
  margin-top: 10px;
  text-align: center;
  line-height: 2;
}

.mypage-side-profile-table th {
  background-color: #999999;
  color: #FFF;
  width: 30%;
  text-align: center;
}

.mypage-side-profile-table td {
  background-color: #F0F0F0;
  font-weight: bold;
  text-align: center;
}

.mypage-side-profile-table tr {
  border-bottom: 1px solid #FFF;
}

.mypage-side-link {
  background-color: #FFF;
}

.mypage-side-link-list li {
  padding: 8px 20px;
  border-bottom: 1px solid #E3E3E3;
}

.mypage-side-link-list span {
  float: right;
}

.mypage-main-resume {
  background-color: #FFF;
  padding-bottom: 5px;
}

.mypage-main-resume-table {
  margin: 10px auto;
  border: 1px solid #E8E8E8;
  width: calc(95% - 20px);
}

.mypage-main-resume-table th {
  background-color: #FAFAFA;
  width: 25%;
  border-right: 1px solid #E8E8E8;
  line-height: 3;
  padding-left: 15px;
}

.mypage-main-resume-table td {
  padding-left: 15px;
}

.mypage-main-resume-table tr {
  border-bottom: 1px solid #E8E8E8;
}

.mypage-edit {
  background-color: #FFF;
  color: #649E00;
  line-height: 28px;
  height: 28px;
  border-radius: 5px;
  padding: 0 20px 0 40px;
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 6px;
}

.mypage-edit:hover {
  text-decoration: none;
}

.mypage-edit:before {
  content: '';
  background: url(../images/icon-pencil.svg);
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  left: 0px;
  top: -2px;
}

.mypage-main-summary, .mypage-main-topic {
  background-color: #FFF;
  padding-bottom: 10px;
}

.mypage-main-summary p, .mypage-main-topic p {
  border: 1px solid #F0F0F0;
  padding: 10px 20px;
  margin: 10px;
}

.mypage {
  background-color: #F0F0F0;
  padding: 30px 0;
}

.mypage-header {
  background-color: #649E00;
  color: #FFF;
  display: block;
  height: 40px;
  line-height: 40px;
  padding-left: 15px;
  font-size: 20px;
  position: relative;
}

.mypage-side-profile {
  background-color: #FFF;
  padding: 10px 10px 8px 10px;
}

.mypage-side-profile-table {
  margin-top: 10px;
  text-align: center;
  line-height: 2;
}

.mypage-side-profile-table th {
  background-color: #999999;
  color: #FFF;
  width: 30%;
  text-align: center;
}

.mypage-side-profile-table td {
  background-color: #F0F0F0;
  font-weight: bold;
  text-align: center;
}

.mypage-side-profile-table tr {
  border-bottom: 1px solid #FFF;
}

.mypage-side-link {
  background-color: #FFF;
}

.mypage-side-link-list li {
  padding: 8px 20px;
  border-bottom: 1px solid #E3E3E3;
}

.mypage-side-link-list span {
  float: right;
}

.mypage-main-resume {
  background-color: #FFF;
  padding-bottom: 5px;
}

.mypage-main-resume-table {
  margin: 10px auto;
  border: 1px solid #E8E8E8;
  width: calc(95% - 20px);
}

.mypage-main-resume-table th {
  background-color: #FAFAFA;
  width: 25%;
  border-right: 1px solid #E8E8E8;
  line-height: 3;
  padding-left: 15px;
}

.mypage-main-resume-table td {
  padding-left: 15px;
}

.mypage-main-resume-table tr {
  border-bottom: 1px solid #E8E8E8;
}

.mypage-edit {
  background-color: #FFF;
  color: #649E00;
  line-height: 28px;
  height: 28px;
  border-radius: 5px;
  padding: 0 20px 0 40px;
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 6px;
}

.mypage-edit:hover {
  text-decoration: none;
}

.mypage-edit:before {
  content: '';
  background: url(../images/icon-pencil.svg);
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  left: 0px;
  top: -2px;
}

.mypage-main-summary, .mypage-main-topic {
  background-color: #FFF;
  padding-bottom: 10px;
}

.mypage-main-summary p, .mypage-main-topic p {
  border: 1px solid #F0F0F0;
  padding: 10px 20px;
  margin: 10px;
}

/*********************
_edit
*********************/
.edit {
  background-color: #F0F0F0;
  padding: 30px 0;
}

.edit textarea {
  width: calc( 100% - 20px);
  margin: 15px auto;
  display: block;
  background-color: #FAFAFA;
}

.edit-header {
  background-color: #649E00;
  color: #FFF;
  display: block;
  height: 40px;
  line-height: 40px;
  padding-left: 15px;
  font-size: 20px;
  position: relative;
}

.edit-side-profile {
  background-color: #FFF;
  padding: 10px 10px 8px 10px;
}

.edit-side-profile-table {
  margin-top: 10px;
  text-align: center;
  line-height: 2;
}

.edit-side-profile-table th {
  background-color: #999999;
  color: #FFF;
  width: 30%;
  text-align: center;
}

.edit-side-profile-table td {
  background-color: #F0F0F0;
  font-weight: bold;
  text-align: center;
}

.edit-side-profile-table tr {
  border-bottom: 1px solid #FFF;
}

.edit-side-link {
  background-color: #FFF;
}

.edit-side-link-list li {
  padding: 8px 20px;
  border-bottom: 1px solid #E3E3E3;
}

.edit-side-link-list span {
  float: right;
}

.edit-main-resume {
  background-color: #FFF;
  padding-bottom: 5px;
}

.edit-main-resume-table {
  margin: 10px auto;
  border: 1px solid #E8E8E8;
  width: calc(95% - 20px);
}

.edit-main-resume-table th {
  background-color: #FAFAFA;
  width: 25%;
  border-right: 1px solid #E8E8E8;
  line-height: 3;
  padding-left: 15px;
}

.edit-main-resume-table td {
  padding-left: 15px;
}

.edit-main-resume-table tr {
  border-bottom: 1px solid #E8E8E8;
}

.edit-edit {
  background-color: #FFF;
  color: #649E00;
  line-height: 28px;
  height: 28px;
  border-radius: 5px;
  padding: 0 20px 0 40px;
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 6px;
}

.edit-edit:hover {
  text-decoration: none;
}

.edit-edit:before {
  content: '';
  background: url(../images/icon-pencil.svg);
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  left: 0px;
  top: -2px;
}

.edit-main-summary, .edit-main-topic {
  background-color: #FFF;
  padding-bottom: 10px;
}

.edit-main-summary p, .edit-main-topic p {
  border: 1px solid #F0F0F0;
  padding: 10px 20px;
  margin: 10px;
}

.edit {
  background-color: #F0F0F0;
  padding: 30px 0;
}

.edit-header {
  background-color: #649E00;
  color: #FFF;
  display: block;
  height: 40px;
  line-height: 40px;
  padding-left: 15px;
  font-size: 20px;
  position: relative;
}

.edit-side-profile {
  background-color: #FFF;
  padding: 10px 10px 8px 10px;
}

.edit-side-profile-table {
  margin-top: 10px;
  text-align: center;
  line-height: 2;
}

.edit-side-profile-table th {
  background-color: #999999;
  color: #FFF;
  width: 30%;
  text-align: center;
}

.edit-side-profile-table td {
  background-color: #F0F0F0;
  font-weight: bold;
  text-align: center;
}

.edit-side-profile-table tr {
  border-bottom: 1px solid #FFF;
}

.edit-side-link {
  background-color: #FFF;
}

.edit-side-link-list li {
  padding: 8px 20px;
  border-bottom: 1px solid #E3E3E3;
}

.edit-side-link-list span {
  float: right;
}

.edit-main-resume {
  background-color: #FFF;
  padding-bottom: 5px;
}

.edit-main-resume-table {
  margin: 10px auto;
  border: 1px solid #E8E8E8;
  width: calc(95% - 20px);
}

.edit-main-resume-table th {
  background-color: #FAFAFA;
  width: 25%;
  border-right: 1px solid #E8E8E8;
  line-height: 3;
  padding-left: 15px;
}

.edit-main-resume-table td {
  padding-left: 15px;
}

.edit-main-resume-table tr {
  border-bottom: 1px solid #E8E8E8;
}

.edit-edit {
  background-color: #FFF;
  color: #649E00;
  line-height: 28px;
  height: 28px;
  border-radius: 5px;
  padding: 0 20px 0 40px;
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 6px;
}

.edit-edit:hover {
  text-decoration: none;
}

.edit-edit:before {
  content: '';
  background: url(../images/icon-pencil.svg);
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  left: 0px;
  top: -2px;
}

.edit-main-summary, .edit-main-topic {
  background-color: #FFF;
  padding-bottom: 10px;
}

.edit-main-summary p, .edit-main-topic p {
  border: 1px solid #F0F0F0;
  padding: 10px 20px;
  margin: 10px;
}

.edit-main-button-area {
  background-color: #FFF;
  text-align: center;
  padding: 30px 0;
}

.edit-main-button-area .delete {
  display: inline-block;
  width: 150px;
  line-height: 34px;
  height: 34px;
  background-color: #999999;
  color: #FFF;
  text-align: center;
  border-radius: 4px;
}

.edit-main-button-area .delete:hover {
  text-decoration: none;
  opacity: 0.8;
}

.edit-main-button-area .detail {
  display: inline-block;
  width: 150px;
  line-height: 34px;
  height: 34px;
  background-color: #F6AC00;
  color: #FFF;
  text-align: center;
  border-radius: 4px;
}

.edit-main-button-area .detail:hover {
  text-decoration: none;
  opacity: 0.8;
}

/*********************
kininaru
*********************/
.kininaru {
  background-color: #F0F0F0;
  padding: 30px 0;
}

.kininaru .new-job-list {
  padding: 10px 10px;
}

.kininaru .button-area {
  text-align: right;
  margin-top: 10px;
}

.kininaru .delete {
  display: inline-block;
  width: 90px;
  line-height: 34px;
  height: 34px;
  background-color: #999999;
  color: #FFF;
  text-align: center;
  border-radius: 4px;
}

.kininaru .detail {
  display: inline-block;
  width: 90px;
  line-height: 34px;
  height: 34px;
  background-color: #F6AC00;
  color: #FFF;
  text-align: center;
  border-radius: 4px;
}

.kininaru-header {
  background-color: #649E00;
  color: #FFF;
  display: block;
  height: 40px;
  line-height: 40px;
  padding-left: 15px;
  font-size: 20px;
  position: relative;
}

.kininaru-side-profile {
  background-color: #FFF;
  padding: 10px 10px 8px 10px;
}

.kininaru-side-profile-table {
  margin-top: 10px;
  text-align: center;
  line-height: 2;
}

.kininaru-side-profile-table th {
  background-color: #999999;
  color: #FFF;
  width: 30%;
  text-align: center;
}

.kininaru-side-profile-table td {
  background-color: #F0F0F0;
  font-weight: bold;
  text-align: center;
}

.kininaru-side-profile-table tr {
  border-bottom: 1px solid #FFF;
}

.kininaru-side-link {
  background-color: #FFF;
}

.kininaru-side-link-list li {
  padding: 8px 20px;
  border-bottom: 1px solid #E3E3E3;
}

.kininaru-side-link-list span {
  float: right;
}

.kininaru-main-resume {
  background-color: #FFF;
  padding-bottom: 5px;
}

.kininaru-main-resume-table {
  margin: 10px auto;
  border: 1px solid #E8E8E8;
  width: calc(95% - 20px);
}

.kininaru-main-resume-table th {
  background-color: #FAFAFA;
  width: 25%;
  border-right: 1px solid #E8E8E8;
  line-height: 3;
  padding-left: 15px;
}

.kininaru-main-resume-table td {
  padding-left: 15px;
}

.kininaru-main-resume-table tr {
  border-bottom: 1px solid #E8E8E8;
}

.kininaru-edit {
  background-color: #FFF;
  color: #649E00;
  line-height: 28px;
  height: 28px;
  border-radius: 5px;
  padding: 0 20px 0 40px;
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 6px;
}

.kininaru-edit:hover {
  text-decoration: none;
}

.kininaru-edit:before {
  content: '';
  background: url(../images/icon-pencil.svg);
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  left: 0px;
  top: -2px;
}

.kininaru-main-summary, .kininaru-main-topic {
  background-color: #FFF;
  padding-bottom: 10px;
}

.kininaru-main-summary p, .kininaru-main-topic p {
  border: 1px solid #F0F0F0;
  padding: 10px 20px;
  margin: 10px;
}

/*********************
_account
*********************/
.account {
  background-color: #F0F0F0;
  padding: 30px 0;
}

.account textarea {
  width: calc( 100% - 20px);
  margin: 15px auto;
  display: block;
  background-color: #FAFAFA;
}

.account select {
  border-radius: 5px;
}

.account-header {
  background-color: #649E00;
  color: #FFF;
  display: block;
  height: 40px;
  line-height: 40px;
  padding-left: 15px;
  font-size: 20px;
  position: relative;
}

.account-side-profile {
  background-color: #FFF;
  padding: 10px 10px 8px 10px;
}

.account-side-profile-table {
  margin-top: 10px;
  text-align: center;
  line-height: 2;
}

.account-side-profile-table th {
  background-color: #999999;
  color: #FFF;
  width: 30%;
  text-align: center;
}

.account-side-profile-table td {
  background-color: #F0F0F0;
  font-weight: bold;
  text-align: center;
}

.account-side-profile-table tr {
  border-bottom: 1px solid #FFF;
}

.account-side-link {
  background-color: #FFF;
}

.account-side-link-list li {
  padding: 8px 20px;
  border-bottom: 1px solid #E3E3E3;
}

.account-side-link-list span {
  float: right;
}

.account-main-resume {
  background-color: #FFF;
  padding-bottom: 5px;
}

.account-main-resume-table {
  margin: 10px auto;
  border: 1px solid #E8E8E8;
  width: calc(95% - 20px);
}

.account-main-resume-table th {
  background-color: #FAFAFA;
  width: 25%;
  border-right: 1px solid #E8E8E8;
  line-height: 3;
  padding-left: 15px;
}

.account-main-resume-table td {
  padding-left: 15px;
}

.account-main-resume-table tr {
  border-bottom: 1px solid #E8E8E8;
}

.account-account {
  background-color: #FFF;
  color: #649E00;
  line-height: 28px;
  height: 28px;
  border-radius: 5px;
  padding: 0 20px 0 40px;
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 6px;
}

.account-account:hover {
  text-decoration: none;
}

.account-account:before {
  content: '';
  background: url(../images/icon-pencil.svg);
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  left: 0px;
  top: -2px;
}

.account-main-summary, .account-main-topic {
  background-color: #FFF;
  padding-bottom: 10px;
}

.account-main-summary p, .account-main-topic p {
  border: 1px solid #F0F0F0;
  padding: 10px 20px;
  margin: 10px;
}

.account {
  background-color: #F0F0F0;
  padding: 30px 0;
}

.account form {
  padding: 10px;
}

.account-header {
  background-color: #649E00;
  color: #FFF;
  display: block;
  height: 40px;
  line-height: 40px;
  padding-left: 15px;
  font-size: 20px;
  position: relative;
}

.account-side-profile {
  background-color: #FFF;
  padding: 10px 10px 8px 10px;
}

.account-side-profile-table {
  margin-top: 10px;
  text-align: center;
  line-height: 2;
}

.account-side-profile-table th {
  background-color: #999999;
  color: #FFF;
  width: 30%;
  text-align: center;
}

.account-side-profile-table td {
  background-color: #F0F0F0;
  font-weight: bold;
  text-align: center;
}

.account-side-profile-table tr {
  border-bottom: 1px solid #FFF;
}

.account-side-link {
  background-color: #FFF;
}

.account-side-link-list li {
  padding: 8px 20px;
  border-bottom: 1px solid #E3E3E3;
}

.account-side-link-list span {
  float: right;
}

.account-main-resume {
  background-color: #FFF;
  padding-bottom: 5px;
}

.account-main-resume-table {
  margin: 10px auto;
  border: 1px solid #E8E8E8;
  width: calc(95% - 20px);
}

.account-main-resume-table th {
  background-color: #FAFAFA;
  width: 25%;
  border-right: 1px solid #E8E8E8;
  line-height: 3;
  padding-left: 15px;
}

.account-main-resume-table td {
  padding-left: 15px;
}

.account-main-resume-table tr {
  border-bottom: 1px solid #E8E8E8;
}

.account-account {
  background-color: #FFF;
  color: #649E00;
  line-height: 28px;
  height: 28px;
  border-radius: 5px;
  padding: 0 20px 0 40px;
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 6px;
}

.account-account:hover {
  text-decoration: none;
}

.account-account:before {
  content: '';
  background: url(../images/icon-pencil.svg);
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  left: 0px;
  top: -2px;
}

.account-main-summary, .account-main-topic {
  background-color: #FFF;
  padding-bottom: 10px;
}

.account-main-summary p, .account-main-topic p {
  border: 1px solid #F0F0F0;
  padding: 10px 20px;
  margin: 10px;
}

.account-main-button-area {
  background-color: #FFF;
  text-align: center;
  padding: 30px 0;
}

.account-main-button-area .delete {
  display: inline-block;
  width: 150px;
  line-height: 34px;
  height: 34px;
  background-color: #999999;
  color: #FFF;
  text-align: center;
  border-radius: 4px;
}

.account-main-button-area .delete:hover {
  text-decoration: none;
  opacity: 0.8;
}

.account-main-button-area .detail {
  display: inline-block;
  width: 150px;
  line-height: 34px;
  height: 34px;
  background-color: #F6AC00;
  color: #FFF;
  text-align: center;
  border-radius: 4px;
}

.account-main-button-area .detail:hover {
  text-decoration: none;
  opacity: 0.8;
}
