@mixin clearfix() {
  &:before,
  &:after {
      content: "";
      display: table;
  }

  &:after {
      clear: both;
  }
}

@mixin media-query {
  @media (max-width: ($breakpoint - 1)) {
    @content;
  }
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
  vertical-align: middle;
  display: inline-block;
  text-indent: -9999px;

  @include media-query {
    background-position: halve(nth($sprite, 3)) halve(nth($sprite, 4));
    background-size: halve(nth($sprite, 7)) halve(nth($sprite, 8));
    width: halve(nth($sprite, 5));
    height: halve(nth($sprite, 6));
  }

  &.icon--text {
    margin-right: 5px;
  }
}

@mixin viewport {
  margin: 0 auto;

  @include media-query {
    width: 100%;
  }
}
