@import "../_mixins";

.clearfix {
  @include clearfix();
}

.show {
  display: block;
}

.hide {
  display: none;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.mtxs {
  margin-top: 10px;
}

.mts {
  margin-top: 15px;
}

.mtm {
  margin-top: 25px;
}

.mtl {
  margin-top: 50px;
}

.mtxl {
  margin-top: 75px;
}
