input[type=text],
input[type=password] {
  &.is-error {
    background: #fee9e4;
  }
}

.m-inputGroup {
  > * {
    display: inline-block;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}
