@charset "utf-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
/*h3,*/
h4,
h5,
h6,
/*p,*/
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
/*em,*/
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
/*strong,*/
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
/*figcaption,*/
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, 'メイリオ', Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  color: #33373b;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote {
  font-style: italic;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 1.4em;
  background-color: #F5F5F5;
  padding: 15px;
}
figcaption{
  background-color: #F5F5F5;
  font-size: 12px;
  padding: 15px;
  text-align: center;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  width: 100%;
  height: auto;
}
a {
  color: #33373b;
  text-decoration: none;
}
h3 {
  font-size: 16px;
}
.btnPrimary,
.btnSecondary {
  display: block;
  border-radius: 3px;
  font-size: 19px;
  text-align: center;
}
.btnPrimary {
  background: #9ed366;
  box-shadow: 0 2px #88b558;
  color: #fff;
  text-shadow: 1px 1px #88b558;
}
.btnPrimary:hover {
  background: #88b558;
}
.btnPrimary__desc {
  display: block;
  margin-bottom: 4px;
  font-size: 13px;
}
.btnPrimary__main {
  display: block;
}
.btnSecondary {
  background: #1abb99;
  box-shadow: 0 2px #199c80;
  color: #fff;
  text-shadow: 1px 1px #199c80;
}
.btnSecondary:hover {
  background: #199c80;
}
.btnSecondary__main {
  display: block;
}
.header__logo {
  border-bottom: solid 1px #ccc;
  background: #fff;
}
.header__logo > a {
  display: block;
  padding: 15px;
  text-align: center;
}
.header__logo > a > img {
  width: 170px;
  vertical-align: top;
}
.header__linkWrap {
  margin-bottom: 15px;
}
.header__link {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -1px;
}
.header__link > li {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.header__link > li > a {
  display: inline-block;
  width: 100%;
  height: 50px;
  background: #f5f5f5;
  color: #1abb99;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
}
.header__link > li > a::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
.header__link > li + li {
  border-left: solid 1px #fff;
}
@media screen and (max-width: 380px) {
  .header__link .sp-brWrap {
    display: inline-block;
    vertical-align: middle;
  }
  .header__link .sp-br::after {
    content: "\A";
    white-space: pre;
  }
}
.header__actionWrap {
  padding-bottom: 15px;
  border-bottom: solid 1px #f5f5f5;
}
.header__action {
  padding: 0 10px;
}
.header__action > li + li {
  margin-top: 12px;
}
.header__action .btnPrimary {
  padding: 11px 0;
}
.header__action .btnSecondary {
  padding: 20px 0;
}
.header.sp-isFix {
  padding-top: 52px;
}
.header.sp-isFix .header__logo {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.footerInfo {
  margin: 0 10px 20px;
  padding: 15px;
  border: solid 1px #ddd;
  background: #f5f5f5;
}
.footerInfo__logo {
  margin-bottom: 10px;
  text-align: center;
}
.footerInfo__logo > a {
  display: inline-block;
  margin-right: 10px;
  vertical-align: baseline;
}
.footerInfo__logo img {
  width: 170px;
}
.footerInfo__logo .sp-show {
  position: relative;
  top: -3px;
  font-size: 15px;
}
.footerInfo__share__list > li {
  width: 270px;
  height: 34px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: 100%;
}
.footerInfo__share__list > li > img {
  display: none;
}
.footerInfo__share__list > li + li {
  margin-top: 5px;
}
.footerInfo__share__list > .fb {
  background-image: url("/images/craft/sp-facebook.png");
}
.footerInfo__share__list > .tw {
  background-image: url("/images/craft/sp-twitter.png");
}
.footerInfo__share__list > .rss {
  background-image: url("/images/craft/sp-rss.png");
}
.footerInfo__link,
.footerInfo__share__head,
.footerTW,
.footerFB {
  display: none;
}
.footer__actionWrap {
  padding-bottom: 20px;
  border-bottom: solid 1px #ddd;
}
.footer__action {
  padding: 0 10px;
}
.footer__action > li + li {
  margin-top: 12px;
}
.footer__action .btnPrimary {
  padding: 11px 0;
}
.footer__action .btnSecondary {
  padding: 20px 0;
}
.footer__copy {
  padding: 10px;
  color: #99a4af;
  font-size: 12px;
  text-align: center;
}
.main {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.mainInfoWrap {
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3;
  margin-bottom: 15px;
}
.mainInfo__share,
.mainInfo__save {
  display: none;
}
.mainInfo__member {
  margin: 0 10px;
  padding: 15px 10px 20px;
  border: solid 1px #ddd;
  background: #f5f5f5;
}
.mainInfo__member__head {
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: bold;
}
.mainInfo__member__list > li {
  padding: 10px 0;
}
.mainInfo__member__list > li:last-child {
  padding-bottom: 0;
}
.mainInfo__member__list > li + li {
  border-top: solid 1px #ddd;
}
.memberInfo::after {
  content: "";
  display: table;
  clear: both;
}
.memberInfo__img {
  float: left;
  width: 55px;
  height: 55px;
  margin-right: 10px;
  overflow: hidden;
}
.memberInfo__prof {
  overflow: hidden;
}
.memberInfo__prof__name {
  margin-bottom: 10px;
  color: #3f9eff;
  font-size: 14px;
  font-weight: bold;
}
.memberInfo__prof__comment {
  font-size: 14px;
  line-height: 1.4;
}
.mainContentWrap {
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  margin-bottom: 25px;
}
.mainPaginateWrap {
  display: none;
}
.mainLinkWrap {
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  margin-bottom: 25px;
}
.mainLink__section__head {
  height: 40px;
  padding-left: 10px;
  background: #1abb99;
  color: #fff;
  font-size: 16px;
  line-height: 40px;
}
.mainLink__section__list {
  margin-bottom: 20px;
  padding: 0 10px;
}
.mainLink__section__list > li {
  padding: 10px 0;
}
.mainLink__section__list > li:last-child {
  padding-bottom: 0;
}
.mainLink__section__list > li + li {
  border-top: solid 1px #ddd;
}
.popularAtcl::after,
.newAtcl::after {
  content: "";
  display: table;
  clear: both;
}
.popularAtcl__img,
.newAtcl__img {
  float: left;
  width: 90px;
  height: 75px;
  overflow: hidden;
  margin-right: 10px;
}
.popularAtcl__info,
.newAtcl__info {
  font-size: 14px;
  line-height: 1.4;
  overflow: hidden;
  height: 70px;
}
.popularAtcl__img {
  position: relative;
  overflow: hidden;
  height: 70px;
}
.areaTop::before,
.areaSecond::before,
.areaThird::before {
  content: attr(data-popAtcl);
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  color: #fff;
  font-size: 11px;
  line-height: 20px;
  text-align: center;
}
.areaTop::after,
.areaSecond::after,
.areaThird::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  border: solid 30px transparent;
  border-left: solid 30px #333;
  -webkit-transform: rotate(-135deg) translate(50px);
          transform: rotate(-135deg) translate(50px);
}
.areaTop::after {
  border-left-color: #fe6e4c;
}
.areaSecond::after {
  border-left-color: #f6bb33;
}
.areaThird::after {
  border-left-color: #9ed366;
}
.mainLink__section:last-child .mainLink__section__list {
  margin-bottom: 30px;
}
body {
  padding-bottom: 62px;
}
.fixBar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 15px 10px;
  background: #f5f5f5;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.fixBar__follow {
  margin-right: 10px;
  font-size: 12px;
  font-weight: bold;
}
.fixBar__follow > img {
  display: block;
  width: 110px;
  margin-bottom: 5px;
}
.fixBar__shareList {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.fixBar__shareList > li {
  width: 30px;
}
.fixBar__shareList > li + li {
  margin-left: 5px;
}
.fixBar.sp-isReverse .fixBar__follow {
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  margin-right: 0;
}
.fixBar.sp-isReverse .fixBar__shareList {
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  margin-right: 50px;
}
.pc-show {
  display: none;
}

.navs {
  background-color: #fff;
  color: #999999;
  font-family: 'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN', '游ゴシック', 'Yu Gothic', 'YuGothic', 'メイリオ', Meiryo, sans-serif;
  font-weight: 500;
  line-height: 1.4;
  margin-top: 60px;
}
.navs-head {
  margin-top: 30px;
  padding: 10px;
  background-color: #1abb99;
  color: #fff;
  font-size: 20px;
}
.navs-head-s {
  font-size: 75%;
}
.navs-menus {
  margin: 0;
  padding: 20px 0;
  list-style-type: none;
}
.navs-menu {
  padding: 0 0 20px 34px;
  font-size: 14px;
  text-indent: -24px;
}
.navs-menu-head {
  font-size: 16px;
}
.navs-menu-area {
  float: left;
  width: 20%;
  text-indent: 0;
}
.navs-menu a {
  text-decoration: none;
  text-indent: 0;
  color: #1abb99;
}
.navs-icon-arrow {
  display: inline-block;
  margin-right: 6px;
  width: 16px;
  height: 16px;
  border: 1px solid #1abb99;
  border-radius: 50% / 50%;
  text-align: center;
  vertical-align: top;
  background-color: #1abb99;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  text-indent: 0;
}
.navs-menus a,
.navs-menus a:hover {
  transition: 0.3s all linear 0s;
}
.navs-menus a:hover {
  color: #2666d0;
  text-decoration: underline;
}
/*
.navs-menus a:hover .navs-icon-arrow {
  border: 1px solid #18449f;
  background-color: #fff;
  color: #18449f;
}
*/
.navs-area {
  box-sizing: border-box;
  max-width: 372px;
}
.navs-area .navs-menu {
  padding: 0 6px 20px 34px;
  box-sizing: border-box;
}


.navs-guide {
  margin: 10px;
}
.navs-search {
  margin: 10px;
}
.navs-search-box {
  float: left;
  margin-right: 34px;
  padding: 0 6px;
  width: 80%;
  height: 34px;
  border: 1px solid #bfbfbf;
  box-sizing: border-box;
  border-radius: 2px 0 0 2px;
  font-size: 16px;
  font-family: inherit;
}
.navs-search-btn {
  float: left;
  display: block;
  margin-left: -34px;
  width: 34px;
  height: 34px;
  border: 1px solid #1abb99;
  border-radius: 0 2px 2px 0;
  text-align: center;
  vertical-align: top;
  box-sizing: border-box;
  background-color: #1abb99;
  color: #fff;
  line-height: 34px;
}
.navs-search-btn .fa {
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  line-height: 1;
}

@media (min-width: 960px) {
  .navs-menu {
    padding: 0 0 10px 34px;
    font-size: 12px;
  }
  .navs-menu a {
    font-size: 14px;
  }
  .navs-area .navs-menu {
    padding: 0 6px 10px 34px;
  }
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}