@charset "utf-8";
.mainAtclList {
  margin-top: 10px;
}
.mainAtclList__head {
  height: 40px;
  padding-left: 10px;
  background: #1abb99;
  color: #fff;
  font-size: 16px;
  line-height: 40px;
}
.atclList {
  padding: 0 10px;
}
.atclList > li {
  padding: 10px 0 15px;
  border-top: solid 1px #ddd;
}
.atclList > li:last-child {
  padding-bottom: 0;
}
.atclInfo__public {
  position: relative;
  margin-bottom: 5px;
  color: #99a4af;
  font-size: 15px;
}
.atclInfo__public__img {
  margin-bottom: 5px;
}
.atclInfo__public__time {
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 30px;
}
.atclInfo__public__auth {
  height: 30px;
  line-height: 30px;
  text-align: right;
  vertical-align: middle;
}
.atclInfo__public__auth img {
  display: inline-block;
  width: auto;
  height: 100%;
  margin-right: 5px;
  vertical-align: top;
}
.atclInfo__text {
  margin-bottom: 5px;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.4;
}
.atclInfo__tags {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: -10px;
  margin-top: -10px;
}
.atclInfo__tags > li {
  display: block;
  height: 20px;
  margin-left: 10px;
  margin-top: 10px;
  padding: 0 10px;
  background: #1abb99;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
}
