/* CSS Document */
/*
	lp.css
	今回制作lp用のスタイル指定用
*/
@charset "utf-8";
/*
body {
	color:#444;
	background:#fff;
	font-size:18px;
	font-family:'メイリオ',Meiryo,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',Osaka,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
	line-height:1;
	-webkit-text-size-adjust:100%;
}*/

/* --------------------  ヘッダー 
#lp-header {
	position: fixed;
	background : #FFF;
	border-bottom:1px solid #ccc;
	width:100%;
	top:-100px;
	z-index:100;
}
.fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.lp-headerContent {
	width: 900px;
	height:50px;
	margin: 0 auto;
}*/

#lp-home {margin:20px 0 0 0;}
#lp-home img{width:240px;}
.ps {padding:5px 0 0 0;float:right;}

.hide_text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

/* --------------------  コンテンツ */
#content-wrap {
	margin:0 auto 0 auto;
	padding:0;
	width:100%;
}

.header {
	background: url("/images/agent/head-bg.jpg") no-repeat top center;
	height: 680px;
	overflow-x: hidden;
	position: relative;
}

.header-img {
	margin:0 auto;
	width:1100px;
	height:680px;
	background: url("/images/agent/head-img.png") top center no-repeat;
}
.header-link {padding:544px 0 0 630px;}

.header-link a {
	background: url(/images/agent/entry_bottan.png);
	width:470px;
	height:100px;
	display: block;
	cursor:pointer;
	text-align:center;
	text-indent:-10000px;
}
.header-link a:hover{
	background-position:left bottom;
}

#main-wrap {
	margin:0 auto;
	padding:0 auto;
	width:100%;
}

.main-box1 {
	margin:0px auto;
	padding:0 auto;
	width:1100px;
	height:944px;
	background:url(/images/agent/box_1.jpg) no-repeat top center;
	position:relative;
	line-height:130%;
	font-size:14px;
	color:#FFF;
}

.box1-twrap {
	margin:0 auto;
	width:900px;
	overflow:auto;
	line-height:25px;
	font-size:17px;
	color:#3E3A39;
}

.box-txt1 {
	margin-top:635px;
	padding:10px;
	width:280px;
	height:180px;
	border:1px solid #8BB3B3;
	float:left;
}

.box-txt2 {
	margin-top:635px;
	padding:10px;
	width:280px;
	height:180px;
	border:1px solid #8BB3B3;
	float:left;
}

.box-txt3 {
	margin-top:635px;
	padding:10px;
	width:280px;
	height:180px;
	border:1px solid #8BB3B3;
	float:left;
}

.main-box2 {
	height:1040px;
	background:#EEE3CF url(/images/agent/box_2.jpg) no-repeat top center;
	position:relative;
}

.main-box3-wrap {
	height:1595px;
	background:url(/images/agent/box_3_bk.jpg) repeat-x top left;
}

.main-box3 {
	height:1595px;
	background:url(/images/agent/box_3.png) no-repeat top center;
	position:relative;
}

.entry-btn01 {
	position:absolute;
	bottom:60px;
	left:50%;
	margin-left:-325px;
}

.entry-btn01 a {
	background: url(/images/agent/entry_bottan02.png);
	width:650px;
	height:100px;
	display: block;
	cursor:pointer;
	text-align:center;
	text-indent:-10000px;
}
.entry-btn01 a:hover{
	background-position:left bottom;
}

.main-box4 {
	height:724px;
	background:#d4ebed url('/images/agent/box_4.jpg') no-repeat top center;
	position:relative;
}

.btn-01 {
	width:523px;
	padding:174px 0 0 174px;
}

.main-box5 {
	padding-top:120px;
	background:#fff url('/images/agent/box_5.jpg') no-repeat top center;
	position:relative;
}

.box5-01 {
	margin:0 auto;
	width:900px;
	height:275px;
	background: url('/images/agent/freeadd_bk_01.jpg') no-repeat top center;
}

.box5-content {
	margin:0 auto;
	width:900px;
	background: url('/images/agent/freeadd_bk_02.jpg') repeat-y top center;
}

.box5-table {
	margin:0 auto;
	width:800px;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

.box5-table th {
	padding: 15px;
	width: 25%;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: #f2f2f2;
	font-size:13px;
	line-height:18px;
}

.box5-table td {
	padding: 15px;
	width: 75%;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	font-size: 15px;
}

.box5-require {
	padding: 1px 5px;
	background: #fe6e4c;
	color: #fff;
	font-size:11px;
}


/*input[type=text],
input[type=password],
input[type=submit] {
	display: inline-block;
	width: 80%;
	font-size: 15px;
	border-radius: 3px;
}*/

input[type=text],
input[type=password] {
	padding: 5px 10px;
	border: 1px solid #ccc;
}

/*input[type=submit] {
	border: none;
	cursor: pointer;
	outline: none;
}*/

input[type=checkbox] {
	padding:5px;
}

select {
	display: inline-block;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url(/images/agent/arrow-select.png) no-repeat right center #fff;
	padding: 10px 55px 10px 15px;
	border-radius: 0;
	border: 1px solid #ccc;
	outline: none;
	font-size: 15px;
	cursor: pointer;
}

textarea {
	font-size: 15px;
	width: 100%;
	padding: 15px;
	border: 1px solid #ccc;
	min-height: 8em;
}

.seleop {padding:10px 0 0 0;font-size:12px;color:#fe6e4c;}
.alert-txt {margin:0 auto;padding:20px 0 140px 0;width:800px;line-height:18px;font-size:13px;text-align:center;}
.alert a {color:#1abb99;text-decoration:none;}
.alert a:hover {color:#1abb99;text-decoration:underline;}

.entry-btn02 {
	position:absolute;
	bottom:80px;
	left:50%;
	margin-left:-235px;
}

.entry-btn02 a {
	background: url(/images/agent/header_entry_01.png);
	width:470px;
	height:60px;
	display: block;
	cursor:pointer;
	text-align:center;
	text-indent:-10000px;
}
.entry-btn02 a:hover{
	background-position:left bottom;
}

.box5-02 {
	margin:0 auto;
	width:900px;
	height:50px;
	background: url('/images/agent/freeadd_bk_03.jpg') no-repeat top center;
}

/* --------------------  フッター */
#lp-footer {
	width:100%;
	height:50px;
	background:#FFF;
	font-size:12px;
	color:#000;
}

#lp-footer p {margin:0 auto;padding:10px 0 50px 0;width:900px;text-align:center;}

/* --------------------  aタグ処理 画像透過リンク */
#lp-header a img {
	-webkit-transition:opacity 0.5s; /*Safari,Chrome*/
	-o-transition       :opacity 0.5s; /*Opera*/
	-moz-transition   :opacity 0.5s; /*Firefox*/
	transition           :opacity 0.5s; /*CSS3 Real Property*/
}

#lp-header a:focus img,
#lp-header a:hover img {
	filter:alpha(opacity=50); /*IE*/
	-moz-opacity:0.5; /*Older Firefox*/
	opacity:0.5; /* Modern Browsers*/
}

/* --------------------  common */
.mb5 {margin-bottom:5px;}
.mb10 {margin-bottom:10px;}
.mb15 {margin-bottom:15px;}
.mb16 {margin-bottom:16px;}
.mb20 {margin-bottom:20px;}
.mb30 {margin-bottom:30px;}
.mb40 {margin-bottom:40px;}
.mb50 {margin-bottom:50px;}
.mb60 {margin-bottom:60px;}
.mb70 {margin-bottom:70px;}
.mb100 {margin-bottom:100px;}
/* margin-top */
.mt10 {margin-top:10px;}
.mt20 {margin-top:20px;}
/* margin-right */
.mr8 {margin-right:8px;}
.mr10 {margin-right:10px;}
.mr15 {margin-right:15px;}
.mr18 {margin-right:18px;}
.mr20 {margin-right:20px;}
.mr23 {margin-right:23px;}
.mr30 {margin-right:30px;}
.mr35 {margin-right:35px;}
.mr40 {margin-right:40px;}
/* padding-top */
.pt10 {padding-top:10px;}
/* padding-bottom */
.pb10 {padding-bottom:10px;}
.pb20 {padding-bottom:20px;}
.pb30 {padding-bottom:30px;}
.pb60 {padding-bottom:60px;}
.pb100 {padding-bottom:100px;}
/* padding-left */
.pl5 {padding-left:5px;}

/* line-height */
.p5 {line-height:25px;}
.p5 label {padding:0 10px 0 5px;}
.pt5 {padding:5px 0 0 0;}

/* table size */
.td_width359 {width:359px;}
.td_width259 {width:259px;}
.td_width45 {width:45px;}

/* font-sixe */
.s10 {font-size:10px;}
.s12 {font-size:12px;}

/* line-height */
.l13 {line-height:130%;}
.l15 {line-height:150%;}

.fbold {font-weight:bold;}

/* ページの先頭に戻るボタン */

#page-top {
	margin:0;
	padding:0;
	position: fixed;
	bottom: 20px;
	right: 20px;
}
#page-top a {
	background: #808080;
	text-decoration: none;
	color: #fff;
	width: 36px;
	height:46px;
	text-align: center;
	display: block;
}
#page-top a:hover {
	text-decoration: none;
	background: #808080;
}

/* 回り込み回避用 */
br.clear{
	margin : 0;
	padding : 0;
	clear : both;
}
